<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bangpaigonggao_artFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{181,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{181,20}}</string>
                <key>sourceSize</key>
                <string>{181,24}</string>
            </dict>
            <key>juanxian_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>lingqufenglu.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{99,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{99,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
            <key>pen_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,103},{32,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{32,36}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>tiuchubangpai_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,137},{97,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{97,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bangpai.png</string>
            <key>size</key>
            <string>{64,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78d28e2c5317d0cecddb79ad0825b600:cb5aa904484451bf984f469b836ee6c9:9641d35d06c235274e27808bcb967f57$</string>
            <key>textureFileName</key>
            <string>bangpai.png</string>
        </dict>
    </dict>
</plist>
