<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beibaoButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,154},{50,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{50,18}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>jueseButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,154},{50,18}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{50,18}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>juesejinengButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{98,18}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{98,18}}</string>
                <key>sourceSize</key>
                <string>{100,26}</string>
            </dict>
            <key>layerBkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,22},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>liantiButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,102},{50,18}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{50,18}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>renwuButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,102},{50,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{50,18}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>rongyuButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{98,18}}</string>
                <key>sourceSize</key>
                <string>{100,26}</string>
            </dict>
            <key>tabBkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{792,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{792,75}}</string>
                <key>sourceSize</key>
                <string>{792,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>basicLayer.png</string>
            <key>size</key>
            <string>{128,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cb7d7c70344729a3c606c29c27482d0:2d2dbd978c14dc73a39ea94395ef4d58:631a5421736bdeb55adac70863f08180$</string>
            <key>textureFileName</key>
            <string>basicLayer.png</string>
        </dict>
    </dict>
</plist>
