<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bianqiang_dengji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{74,14}}</string>
                <key>sourceSize</key>
                <string>{80,20}</string>
            </dict>
            <key>bianqiang_dengji01.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{42,48}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>bianqiang_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,18},{155,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,66}}</string>
                <key>sourceSize</key>
                <string>{155,66}</string>
            </dict>
            <key>bianqiang_tubiaokuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bianqiang_xiaokuang.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:179069e223c0321859d6887f4b4b7d7a:ea82e244cac37f9d58428c88a77890f8:699896aa4621a7c16779093ea43f1811$</string>
            <key>textureFileName</key>
            <string>bianqiang_xiaokuang.png</string>
        </dict>
    </dict>
</plist>
