<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>78_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{103,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,42}}</string>
                <key>sourceSize</key>
                <string>{103,42}</string>
            </dict>
            <key>78_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,225},{103,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,42}}</string>
                <key>sourceSize</key>
                <string>{103,42}</string>
            </dict>
            <key>denglu1_hiuxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,225},{70,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,2}}</string>
                <key>sourceSize</key>
                <string>{70,2}</string>
            </dict>
            <key>denglu_ditukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{459,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,236}}</string>
                <key>sourceSize</key>
                <string>{459,236}</string>
            </dict>
            <key>guanbi_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,283},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>guanbi_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,478},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>mima_denglu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{41,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,21}}</string>
                <key>sourceSize</key>
                <string>{41,21}</string>
            </dict>
            <key>shurukuang_115.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,2},{221,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,44}}</string>
                <key>sourceSize</key>
                <string>{221,44}</string>
            </dict>
            <key>xiaogoudikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,240},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>zhuanghao_denglu.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,435},{41,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,22}}</string>
                <key>sourceSize</key>
                <string>{41,22}</string>
            </dict>
            <key>zhuce_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,435},{61,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,25}}</string>
                <key>sourceSize</key>
                <string>{61,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>denglu3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d4f8ff30450d8bac98028deebf374b6:15d30c3cc8b82defcb3ebeab0dd05d7c:6713c0a6fd664d549a961a42bd23c0fb$</string>
            <key>textureFileName</key>
            <string>denglu3.png</string>
        </dict>
    </dict>
</plist>
