<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cikemeng_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,568},{70,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,89}}</string>
                <key>sourceSize</key>
                <string>{70,89}</string>
            </dict>
            <key>cikemeng_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,830},{56,75}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{56,75}}</string>
                <key>sourceSize</key>
                <string>{70,89}</string>
            </dict>
            <key>dangqian_roundButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,830},{52,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{52,58}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>dangqian_roundButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,888},{60,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{60,62}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>ditu_titleFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,328},{66,25}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{66,25}}</string>
                <key>sourceSize</key>
                <string>{72,37}</string>
            </dict>
            <key>huichungu_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,172},{96,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,82}}</string>
                <key>sourceSize</key>
                <string>{96,82}</string>
            </dict>
            <key>huichungu_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,817},{82,72}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{82,72}}</string>
                <key>sourceSize</key>
                <string>{96,82}</string>
            </dict>
            <key>jiguanshan_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,486},{80,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,89}}</string>
                <key>sourceSize</key>
                <string>{80,89}</string>
            </dict>
            <key>jiguanshan_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,726},{66,81}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{66,81}}</string>
                <key>sourceSize</key>
                <string>{80,89}</string>
            </dict>
            <key>longwanxia_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{77,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,87}}</string>
                <key>sourceSize</key>
                <string>{77,87}</string>
            </dict>
            <key>longwanxia_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,751},{63,77}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{63,77}}</string>
                <key>sourceSize</key>
                <string>{77,87}</string>
            </dict>
            <key>loushan_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{105,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,83}}</string>
                <key>sourceSize</key>
                <string>{105,83}</string>
            </dict>
            <key>loushan_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,328},{91,75}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{91,75}}</string>
                <key>sourceSize</key>
                <string>{105,83}</string>
            </dict>
            <key>qingshandao_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,817},{73,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,83}}</string>
                <key>sourceSize</key>
                <string>{73,83}</string>
            </dict>
            <key>qingshandao_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,625},{59,73}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{59,73}}</string>
                <key>sourceSize</key>
                <string>{73,83}</string>
            </dict>
            <key>tianjianfen_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,891},{76,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,79}}</string>
                <key>sourceSize</key>
                <string>{76,79}</string>
            </dict>
            <key>tianjianfen_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,685},{64,69}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{64,69}}</string>
                <key>sourceSize</key>
                <string>{76,79}</string>
            </dict>
            <key>worldmap.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{621,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{621,388}}</string>
                <key>sourceSize</key>
                <string>{621,388}</string>
            </dict>
            <key>xinshoucun_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,729},{83,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,86}}</string>
                <key>sourceSize</key>
                <string>{83,86}</string>
            </dict>
            <key>xinshoucun_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,625},{69,78}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{69,78}}</string>
                <key>sourceSize</key>
                <string>{83,86}</string>
            </dict>
            <key>xixiagudao_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,256},{70,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,93}}</string>
                <key>sourceSize</key>
                <string>{70,93}</string>
            </dict>
            <key>xixiagudao_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{58,83}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{58,83}}</string>
                <key>sourceSize</key>
                <string>{70,93}</string>
            </dict>
            <key>xuesongling_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,640},{72,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,84}}</string>
                <key>sourceSize</key>
                <string>{72,84}</string>
            </dict>
            <key>xuesongling_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,625},{58,74}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{58,74}}</string>
                <key>sourceSize</key>
                <string>{72,84}</string>
            </dict>
            <key>yudaomen_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,751},{67,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,75}}</string>
                <key>sourceSize</key>
                <string>{67,75}</string>
            </dict>
            <key>yudaomen_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,696},{51,63}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{51,63}}</string>
                <key>sourceSize</key>
                <string>{67,75}</string>
            </dict>
            <key>yueshangong_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,901},{75,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,80}}</string>
                <key>sourceSize</key>
                <string>{75,80}</string>
            </dict>
            <key>yueshangong_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,700},{59,66}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{59,66}}</string>
                <key>sourceSize</key>
                <string>{75,80}</string>
            </dict>
            <key>zhonglingdukou_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,405},{79,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,90}}</string>
                <key>sourceSize</key>
                <string>{79,90}</string>
            </dict>
            <key>zhonglingdukou_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,809},{63,80}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{63,80}}</string>
                <key>sourceSize</key>
                <string>{79,90}</string>
            </dict>
            <key>zhucheng_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,87},{96,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,83}}</string>
                <key>sourceSize</key>
                <string>{96,83}</string>
            </dict>
            <key>zhucheng_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,902},{82,73}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{82,73}}</string>
                <key>sourceSize</key>
                <string>{96,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ditu_shijie.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ea4cddc897eba15d13395c989623150:9331c8baad750743ecaf138e9c5f3b53:540f05f0a5aa37749c08776ffad32599$</string>
            <key>textureFileName</key>
            <string>ditu_shijie.png</string>
        </dict>
    </dict>
</plist>
