<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cailiao06_Font.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,112},{36,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{36,38}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>duanzao_wupingkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>hecheng_Font.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,74},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{36,38}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>hecheng_baizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,150},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>shengji_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{113,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,70}}</string>
                <key>sourceSize</key>
                <string>{113,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>duanzao_hecheng.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3781169af52a1400ec80cf2170460020:80cbb4617d7401f4a72d030d228f91a5:efd9eef06ac74e01e316d3ca35af2f28$</string>
            <key>textureFileName</key>
            <string>duanzao_hecheng.png</string>
        </dict>
    </dict>
</plist>
