<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>petcellButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{230,80}}</string>
                <key>sourceSize</key>
                <string>{232,84}</string>
            </dict>
            <key>petcellButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{228,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{228,80}}</string>
                <key>sourceSize</key>
                <string>{232,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>duanzao_itemcell.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cc95d3c4a44fb2e227487fdd8c333dc:c2b813904993cf91588ccfb79508cffe:4d5fce6743dc73697ab31e14c6303bb1$</string>
            <key>textureFileName</key>
            <string>duanzao_itemcell.png</string>
        </dict>
    </dict>
</plist>
