<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cike_nan_touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{184,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,130}}</string>
                <key>sourceSize</key>
                <string>{184,130}</string>
            </dict>
            <key>cike_nv_touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{118,112}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,14},{118,112}}</string>
                <key>sourceSize</key>
                <string>{184,130}</string>
            </dict>
            <key>fashi_nan_touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{134,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,1},{134,128}}</string>
                <key>sourceSize</key>
                <string>{184,130}</string>
            </dict>
            <key>fashi_nv_touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,130}}</string>
                <key>sourceSize</key>
                <string>{184,130}</string>
            </dict>
            <key>zhanshi_nan_touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,132},{176,130}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{176,130}}</string>
                <key>sourceSize</key>
                <string>{184,130}</string>
            </dict>
            <key>zhanshi_nv_touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{146,118}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{146,118}}</string>
                <key>sourceSize</key>
                <string>{184,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>head_img.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45784802d459f01ba6e7744b83667d77:7a7e307b32b731b144c2cb51dd457b3d:3cd7540e374ceded5b9b7f2b81009dca$</string>
            <key>textureFileName</key>
            <string>head_img.png</string>
        </dict>
    </dict>
</plist>
