<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chenghao1_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,213},{81,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{81,18}}</string>
                <key>sourceSize</key>
                <string>{83,18}</string>
            </dict>
            <key>chenghao2_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,213},{83,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,18}}</string>
                <key>sourceSize</key>
                <string>{83,18}</string>
            </dict>
            <key>fuben_renwuditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{540,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,180}}</string>
                <key>sourceSize</key>
                <string>{540,180}</string>
            </dict>
            <key>huodetiaojianartFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{181,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{181,20}}</string>
                <key>sourceSize</key>
                <string>{181,24}</string>
            </dict>
            <key>listButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,42}}</string>
                <key>sourceSize</key>
                <string>{228,42}</string>
            </dict>
            <key>peidai_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,185},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>peidaishuxing_artFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{181,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{181,20}}</string>
                <key>sourceSize</key>
                <string>{181,24}</string>
            </dict>
            <key>xiexia_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,46},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_medal.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ce735181bf6df29a34d5e75af499061:07c06cc1fa45922aa686855a1b68b946:0778c23de240d686b725f2b0bb5535f1$</string>
            <key>textureFileName</key>
            <string>hero_medal.png</string>
        </dict>
    </dict>
</plist>
