<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chakanxinxi_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{136,29}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{136,29}}</string>
                <key>sourceSize</key>
                <string>{144,37}</string>
            </dict>
            <key>chongkai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,295},{50,42}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{50,42}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>chongkai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{40,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>chongkai3.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,247},{50,46}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{50,46}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>chongkai4.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,332},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{48,46}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>heroBkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{146,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,171}}</string>
                <key>sourceSize</key>
                <string>{146,171}</string>
            </dict>
            <key>jibenxinxi_artFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{181,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{181,20}}</string>
                <key>sourceSize</key>
                <string>{181,24}</string>
            </dict>
            <key>jichushuxing_artFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{181,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{181,20}}</string>
                <key>sourceSize</key>
                <string>{181,24}</string>
            </dict>
            <key>lansehuanwen_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,268},{85,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,24}}</string>
                <key>sourceSize</key>
                <string>{85,24}</string>
            </dict>
            <key>lansehuanwen_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,245},{85,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,24}}</string>
                <key>sourceSize</key>
                <string>{85,24}</string>
            </dict>
            <key>lvse_kung.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{52,52}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>pet_Bkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pet_lvdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,64},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>petskill_art.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{181,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{181,20}}</string>
                <key>sourceSize</key>
                <string>{181,24}</string>
            </dict>
            <key>skillFrame_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,294},{70,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>skillFrame_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,196},{70,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>skillFrame_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,124},{70,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>star_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,216},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_pet.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1746089f0f8e6fb15ebb4083191e1827:f4c8b1cd406c74f46c9f1f9b6539d952:eeaca5ccb592ed4aeaa68ae997acbd50$</string>
            <key>textureFileName</key>
            <string>hero_pet.png</string>
        </dict>
    </dict>
</plist>
