<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_artFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,501},{126,25}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{126,25}}</string>
                <key>sourceSize</key>
                <string>{144,37}</string>
            </dict>
            <key>huangzi_tiaoti2.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,76},{710,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{710,37}}</string>
                <key>sourceSize</key>
                <string>{710,37}</string>
            </dict>
            <key>huangzi_tiaoti4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,18}}</string>
                <key>sourceSize</key>
                <string>{104,18}</string>
            </dict>
            <key>huangzi_tiaoti6.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{72,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,18}}</string>
                <key>sourceSize</key>
                <string>{72,18}</string>
            </dict>
            <key>huangzi_tiaoti7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{72,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,17}}</string>
                <key>sourceSize</key>
                <string>{72,17}</string>
            </dict>
            <key>jieshourenwu_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,22},{99,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{99,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
            <key>lanse_dikuai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,439},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>lanse_dikuai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>tishijiantou1_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,341},{34,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{34,66}}</string>
                <key>sourceSize</key>
                <string>{50,82}</string>
            </dict>
            <key>tishijiantou1_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{50,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,82}}</string>
                <key>sourceSize</key>
                <string>{50,82}</string>
            </dict>
            <key>tishijiantou_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,305},{34,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{34,66}}</string>
                <key>sourceSize</key>
                <string>{50,82}</string>
            </dict>
            <key>tishijiantou_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{50,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,82}}</string>
                <key>sourceSize</key>
                <string>{50,82}</string>
            </dict>
            <key>xingjijiangliIcon_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{72,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{72,64}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>xingjijiangliIcon_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{72,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{72,64}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huodong_meiripaohuan.png</string>
            <key>size</key>
            <string>{128,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af7640bda7db9df746f96ac3b636bf94:3b0783c2970c19158a1fc3eb45296032:ef29b935810d79e97f3c851695bde625$</string>
            <key>textureFileName</key>
            <string>huodong_meiripaohuan.png</string>
        </dict>
    </dict>
</plist>
