<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gensui_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,30},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>shenqi_ditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{538,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,383}}</string>
                <key>sourceSize</key>
                <string>{538,383}</string>
            </dict>
            <key>shenqi_wenzikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,2},{376,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,58}}</string>
                <key>sourceSize</key>
                <string>{376,58}</string>
            </dict>
            <key>xiuxi2_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,2},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huodong_shenqixinxi.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbcfa66283c351c5eebe89190c2f60a3:d1a69fb8dfaf3f5b9a746fcb5179dbc5:6c9eb7e7249c355ebdae1212d6885c4a$</string>
            <key>textureFileName</key>
            <string>huodong_shenqixinxi.png</string>
        </dict>
    </dict>
</plist>
