<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bazhu_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,112},{75,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,80}}</string>
                <key>sourceSize</key>
                <string>{75,80}</string>
            </dict>
            <key>bazhu_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,35},{75,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,80}}</string>
                <key>sourceSize</key>
                <string>{75,80}</string>
            </dict>
            <key>chengweiVIP_lanzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{89,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{89,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
            <key>chongzhi_newwenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,185},{62,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>contentBkg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,185},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>huodongdiwen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,31}}</string>
                <key>sourceSize</key>
                <string>{202,31}</string>
            </dict>
            <key>huodongjieshao_artFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{181,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{181,20}}</string>
                <key>sourceSize</key>
                <string>{181,24}</string>
            </dict>
            <key>saodang_menuwenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{62,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>tongtianta_titleFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,93},{104,25}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{104,25}}</string>
                <key>sourceSize</key>
                <string>{110,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huodong_tongtianta.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d17b60b2463b1dce43f0f870e7ada4f:0475d717f74d9abb7dbcd28099aa0bf0:befc98871bdd6307383ddc719d086359$</string>
            <key>textureFileName</key>
            <string>huodong_tongtianta.png</string>
        </dict>
    </dict>
</plist>
