<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dengji_jiandan.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,191},{34,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,18}}</string>
                <key>sourceSize</key>
                <string>{34,18}</string>
            </dict>
            <key>huangzi_tiaoti1.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,149},{40,18}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,18}}</string>
                <key>sourceSize</key>
                <string>{54,18}</string>
            </dict>
            <key>moji_biaotitiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{115,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,27}}</string>
                <key>sourceSize</key>
                <string>{115,27}</string>
            </dict>
            <key>paohuan_dibai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{131,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,228}}</string>
                <key>sourceSize</key>
                <string>{131,228}</string>
            </dict>
            <key>paohuan_xuanzhekuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{145,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,244}}</string>
                <key>sourceSize</key>
                <string>{145,244}</string>
            </dict>
            <key>star_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,399},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huodong_meiripaohuan1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5e11c75445fda0976bb3cc4d2dd4541:deb05e583fe9e05baa170f96ec80938c:b703aacf0a68ee59bc9b750a454e638f$</string>
            <key>textureFileName</key>
            <string>huodong_meiripaohuan1.png</string>
        </dict>
    </dict>
</plist>
