<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1xing_tongguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,77},{73,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,19}}</string>
                <key>sourceSize</key>
                <string>{73,19}</string>
            </dict>
            <key>daxing_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,316},{51,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,49}}</string>
                <key>sourceSize</key>
                <string>{51,49}</string>
            </dict>
            <key>daxing_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,263},{51,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,49}}</string>
                <key>sourceSize</key>
                <string>{51,49}</string>
            </dict>
            <key>fanpaijiangli_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{97,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{97,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
            <key>gongxini.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,152},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>huodejingyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{73,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,19}}</string>
                <key>sourceSize</key>
                <string>{73,19}</string>
            </dict>
            <key>tongguan_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{484,259}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{484,259}}</string>
                <key>sourceSize</key>
                <string>{534,259}</string>
            </dict>
            <key>zhaosheng_tongguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{212,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,82}}</string>
                <key>sourceSize</key>
                <string>{212,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huodong_wanmeitongguan.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:584a131980d7917bdc0e8727891f8915:bde01cfb7eb75253bd968b17b224d6de:ea2348763cf7975cdc8d59ff1019fa9a$</string>
            <key>textureFileName</key>
            <string>huodong_wanmeitongguan.png</string>
        </dict>
    </dict>
</plist>
