<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{25,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{25,30}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>1_huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{17,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{17,30}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>2_huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,215},{29,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{29,30}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>3_huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{27,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{27,30}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>4_huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,275},{27,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{27,30}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>5_huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,246},{27,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{27,30}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>6_huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{25,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{25,30}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>7_huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,59},{27,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{27,30}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>dengjilibao_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,27}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{136,27}}</string>
                <key>sourceSize</key>
                <string>{144,37}</string>
            </dict>
            <key>dengjiload_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{615,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,23}}</string>
                <key>sourceSize</key>
                <string>{615,23}</string>
            </dict>
            <key>dengjiload_se.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,273},{611,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{611,17}}</string>
                <key>sourceSize</key>
                <string>{615,23}</string>
            </dict>
            <key>denji_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,257},{18,14}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{18,14}}</string>
                <key>sourceSize</key>
                <string>{20,14}</string>
            </dict>
            <key>denji_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,294},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,14}</string>
            </dict>
            <key>denji_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,294},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,14}</string>
            </dict>
            <key>denji_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,278},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,14}</string>
            </dict>
            <key>denji_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,278},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,14}</string>
            </dict>
            <key>denji_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,69},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,14}</string>
            </dict>
            <key>denji_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,69},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,14}</string>
            </dict>
            <key>dikuai_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,153},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>jilibao_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,215},{50,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,17}}</string>
                <key>sourceSize</key>
                <string>{50,17}</string>
            </dict>
            <key>lanse_dikuai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>lanse_dikuai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,91},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>liangdian_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,31},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{36,36}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>liaobao_moji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>libaoanjian_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,234},{42,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{42,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>libaoanjian_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>libaolinqubaizi_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,31},{97,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{97,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
            <key>taocan_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{512,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,108}}</string>
                <key>sourceSize</key>
                <string>{512,108}</string>
            </dict>
            <key>yilingqu_artFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{68,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{68,32}}</string>
                <key>sourceSize</key>
                <string>{80,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huodong_dengjilibao.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b1dbbaff8f93f7b4b42364f8d9c026e:01c43f03c83d0c7abf6c9025dc128835:1a53671d66fdf325d63a58d9d78b4108$</string>
            <key>textureFileName</key>
            <string>huodong_dengjilibao.png</string>
        </dict>
    </dict>
</plist>
