<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heroBkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,171}}</string>
                <key>sourceSize</key>
                <string>{146,171}</string>
            </dict>
            <key>huwan_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,221},{44,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,20}}</string>
                <key>sourceSize</key>
                <string>{48,24}</string>
            </dict>
            <key>jiezhi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,175},{44,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{44,20}}</string>
                <key>sourceSize</key>
                <string>{48,24}</string>
            </dict>
            <key>juese_artFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{68,29}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{68,29}}</string>
                <key>sourceSize</key>
                <string>{72,37}</string>
            </dict>
            <key>toukui_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,175},{44,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,20}}</string>
                <key>sourceSize</key>
                <string>{48,24}</string>
            </dict>
            <key>wuqi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,221},{44,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,20}}</string>
                <key>sourceSize</key>
                <string>{48,24}</string>
            </dict>
            <key>xianglian_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,175},{44,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,20}}</string>
                <key>sourceSize</key>
                <string>{48,24}</string>
            </dict>
            <key>xiezi_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,175},{44,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,20}}</string>
                <key>sourceSize</key>
                <string>{48,24}</string>
            </dict>
            <key>yaodai_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,221},{44,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,20}}</string>
                <key>sourceSize</key>
                <string>{44,20}</string>
            </dict>
            <key>yifu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,175},{44,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,20}}</string>
                <key>sourceSize</key>
                <string>{48,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>juese.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a09612b41b47654ae317f7ec1d02745:c0e03ec57f53cbe74a1c125ae107b38c:06bcff0242507a2529b3b2e2f353fd73$</string>
            <key>textureFileName</key>
            <string>juese.png</string>
        </dict>
    </dict>
</plist>
