<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baiseqiu_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,800},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>beijingtu_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{783,408}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{783,408}}</string>
                <key>sourceSize</key>
                <string>{783,408}</string>
            </dict>
            <key>dicao1_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,260},{256,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,95}}</string>
                <key>sourceSize</key>
                <string>{256,95}</string>
            </dict>
            <key>dicao2_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{256,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,95}}</string>
                <key>sourceSize</key>
                <string>{256,95}</string>
            </dict>
            <key>heiseqiu_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,800},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>jiangli_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,894},{40,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,15}}</string>
                <key>sourceSize</key>
                <string>{40,15}</string>
            </dict>
            <key>juanxian_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,958},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>juanxiananniu_nor_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,958},{156,56}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{156,56}}</string>
                <key>sourceSize</key>
                <string>{160,60}</string>
            </dict>
            <key>juanxiananniu_sel_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{156,56}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{156,56}}</string>
                <key>sourceSize</key>
                <string>{160,60}</string>
            </dict>
            <key>lanseqiu_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,706},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>lingqijuanxian_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,800},{137,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,27}}</string>
                <key>sourceSize</key>
                <string>{137,27}</string>
            </dict>
            <key>lvseqiu_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,612},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>xiaohao_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,939},{40,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,15}}</string>
                <key>sourceSize</key>
                <string>{40,15}</string>
            </dict>
            <key>ziseqiu_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,518},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lingqijuanxian.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8229a94759a234f0006d19ae9da4e35a:914c2a12e05910e01c6570bfc153bd74:39b71944f5e3154b788e82204bdfc975$</string>
            <key>textureFileName</key>
            <string>lingqijuanxian.png</string>
        </dict>
    </dict>
</plist>
