<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HOT_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,469},{77,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,40}}</string>
                <key>sourceSize</key>
                <string>{77,40}</string>
            </dict>
            <key>chongzhiMenu_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{7,64},{156,56}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{156,56}}</string>
                <key>sourceSize</key>
                <string>{160,60}</string>
            </dict>
            <key>chongzhiMenu_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{156,56}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{156,56}}</string>
                <key>sourceSize</key>
                <string>{160,60}</string>
            </dict>
            <key>chongzhi_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{7,364},{97,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{97,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
            <key>contentBkg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{7,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>horiLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{465,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,3}}</string>
                <key>sourceSize</key>
                <string>{465,3}</string>
            </dict>
            <key>lvshuzi_Font.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,284},{126,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,22}}</string>
                <key>sourceSize</key>
                <string>{126,22}</string>
            </dict>
            <key>moneyIcon_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,284},{32,22}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{32,22}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>shangchengmeizi_banshen_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,82},{200,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,175}}</string>
                <key>sourceSize</key>
                <string>{200,175}</string>
            </dict>
            <key>shengyushijian_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,60},{177,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,20}}</string>
                <key>sourceSize</key>
                <string>{177,20}</string>
            </dict>
            <key>xianshiqianggou_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{7,222},{140,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,37}}</string>
                <key>sourceSize</key>
                <string>{140,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shangcheng1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5b9e431d8de428ac3b4f3e591e34faa:7ca5b22143e2cdbaf11f2c261c42df4b:b879bb9cb5a7bef09db08eed22ac0777$</string>
            <key>textureFileName</key>
            <string>shangcheng1.png</string>
        </dict>
    </dict>
</plist>
