<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jixunyunbiao_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{97,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{97,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
            <key>shoudongyunbiao_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{97,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{97,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
            <key>tishi_titleFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{66,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{66,26}}</string>
                <key>sourceSize</key>
                <string>{72,36}</string>
            </dict>
            <key>zidongyunbiao_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{97,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{97,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tishiScreen_convoy1.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f32092ebf407effb464a1432c7c48f6:b40f50e26a7bc2d093db6fc4fba307d9:a2c341560f3cb9bdd4ec14acc4c8d34d$</string>
            <key>textureFileName</key>
            <string>tishiScreen_convoy1.png</string>
        </dict>
    </dict>
</plist>
