<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,22},{34,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{34,22}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>queding_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,22},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>tiaozhengzhiwei_artFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{98,18}}</string>
                <key>sourceSize</key>
                <string>{100,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bangpai_tiaozhengzhiwei.png</string>
            <key>size</key>
            <string>{128,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:decb0a481f96f0394d2abdf1dc101781:f4688ead7843ac310828c09d7ebda13d:01c6f412b8c4c366e5c1f1282f4da223$</string>
            <key>textureFileName</key>
            <string>bangpai_tiaozhengzhiwei.png</string>
        </dict>
    </dict>
</plist>
