<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>quanbujujue_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,31},{99,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{99,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
            <key>quanbutongyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,31},{99,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{99,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
            <key>rubangshenqing_artFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,27}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{138,27}}</string>
                <key>sourceSize</key>
                <string>{144,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bangpai_rubangshenqing.png</string>
            <key>size</key>
            <string>{256,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36c09ee74576be370b7485e853e4e41e:88d9116912b035955a6582c95a78991a:c058ce06fae48e9dc80a1d5eb1d7a8d8$</string>
            <key>textureFileName</key>
            <string>bangpai_rubangshenqing.png</string>
        </dict>
    </dict>
</plist>
