<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beibaoButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,99},{50,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{50,18}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>jueseButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,79},{50,18}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{50,18}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>juesejinengButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{98,18}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{98,18}}</string>
                <key>sourceSize</key>
                <string>{100,26}</string>
            </dict>
            <key>layerBkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>liantiButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,99},{50,18}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{50,18}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>renwuButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,79},{50,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{50,18}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>rongyuButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{98,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{98,18}}</string>
                <key>sourceSize</key>
                <string>{100,26}</string>
            </dict>
            <key>tabBkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{792,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{792,75}}</string>
                <key>sourceSize</key>
                <string>{792,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>basicLayer.png</string>
            <key>size</key>
            <string>{1024,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bca3d5e2d4b557ab74730419fc646b39:2d2dbd978c14dc73a39ea94395ef4d58:631a5421736bdeb55adac70863f08180$</string>
            <key>textureFileName</key>
            <string>basicLayer.png</string>
        </dict>
    </dict>
</plist>
