<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jinengliebiao_artFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{98,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{98,18}}</string>
                <key>sourceSize</key>
                <string>{100,24}</string>
            </dict>
            <key>popupBkg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle_zhaohuanchongwu.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:581076e1f139cb3b0d6b45fb77f64573:b985e2b6992a318a422f0f12458ead6f:39f6f637d69946d4d48b6897076bbcf4$</string>
            <key>textureFileName</key>
            <string>battle_zhaohuanchongwu.png</string>
        </dict>
    </dict>
</plist>
