<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daanA.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,221},{64,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,24}}</string>
                <key>sourceSize</key>
                <string>{66,26}</string>
            </dict>
            <key>daanB.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,221},{64,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,24}}</string>
                <key>sourceSize</key>
                <string>{66,26}</string>
            </dict>
            <key>daanC.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,221},{64,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,24}}</string>
                <key>sourceSize</key>
                <string>{66,26}</string>
            </dict>
            <key>daanD.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,221},{64,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,24}}</string>
                <key>sourceSize</key>
                <string>{66,26}</string>
            </dict>
            <key>datiButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{386,77}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{386,77}}</string>
                <key>sourceSize</key>
                <string>{392,85}</string>
            </dict>
            <key>datiButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{388,77}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{388,77}}</string>
                <key>sourceSize</key>
                <string>{392,85}</string>
            </dict>
            <key>dati_titleFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{138,27}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{138,27}}</string>
                <key>sourceSize</key>
                <string>{144,37}</string>
            </dict>
            <key>footerBkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{589,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{589,42}}</string>
                <key>sourceSize</key>
                <string>{589,42}</string>
            </dict>
            <key>right_artFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,160},{178,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,59}}</string>
                <key>sourceSize</key>
                <string>{178,59}</string>
            </dict>
            <key>wrong_artFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{178,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,59}}</string>
                <key>sourceSize</key>
                <string>{178,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dati.png</string>
            <key>size</key>
            <string>{1024,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc493827bf655a7b9fe12864e4ed20c6:c030deee4fed255352ac44ebde2f7d04:ff6956f87103e23db73f8a196731f9e1$</string>
            <key>textureFileName</key>
            <string>dati.png</string>
        </dict>
    </dict>
</plist>
