<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cailiao06_Font.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,472},{36,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{36,38}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>duabzao_diwen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{542,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{542,388}}</string>
                <key>sourceSize</key>
                <string>{542,388}</string>
            </dict>
            <key>duanzao_wupingkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>hecheng_Font.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{36,38}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>hecheng_baizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,472},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>help_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,464},{38,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{38,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>help_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,392},{48,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>shengji_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,392},{113,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,70}}</string>
                <key>sourceSize</key>
                <string>{113,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>duanzao_hecheng.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2890f31598da4583eb519d896c96536:043ed2d33774b1be87365d690919537e:efd9eef06ac74e01e316d3ca35af2f28$</string>
            <key>textureFileName</key>
            <string>duanzao_hecheng.png</string>
        </dict>
    </dict>
</plist>
