<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chongzhuBkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>duabzao_diwen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{542,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{542,388}}</string>
                <key>sourceSize</key>
                <string>{542,388}</string>
            </dict>
            <key>mingwenshuxing_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{98,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{98,18}}</string>
                <key>sourceSize</key>
                <string>{100,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>duanzao_mingwen.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09784009a8981721200d72f77975d02f:a37edcbbe5ade92da7c0d4de16759073:1b2ed8e82831c9ae2c676729c1861c8a$</string>
            <key>textureFileName</key>
            <string>duanzao_mingwen.png</string>
        </dict>
    </dict>
</plist>
