<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,23}}</string>
                <key>sourceSize</key>
                <string>{224,23}</string>
            </dict>
            <key>fujiashuxing_artFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{181,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{181,20}}</string>
                <key>sourceSize</key>
                <string>{181,24}</string>
            </dict>
            <key>heroBkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{146,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,171}}</string>
                <key>sourceSize</key>
                <string>{146,171}</string>
            </dict>
            <key>hpBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,27},{220,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{220,17}}</string>
                <key>sourceSize</key>
                <string>{224,23}</string>
            </dict>
            <key>huwan_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,373},{44,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,20}}</string>
                <key>sourceSize</key>
                <string>{48,24}</string>
            </dict>
            <key>jichushuxing_artFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{181,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{181,20}}</string>
                <key>sourceSize</key>
                <string>{181,24}</string>
            </dict>
            <key>jiezhi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{44,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{44,20}}</string>
                <key>sourceSize</key>
                <string>{48,24}</string>
            </dict>
            <key>pet_Bkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,244},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>qitagongneng_artFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{181,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{181,20}}</string>
                <key>sourceSize</key>
                <string>{181,24}</string>
            </dict>
            <key>shenqi_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,285},{54,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{54,64}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>shenqi_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,178},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{60,64}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>toukui_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,372},{44,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,20}}</string>
                <key>sourceSize</key>
                <string>{48,24}</string>
            </dict>
            <key>wuqi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,351},{44,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,20}}</string>
                <key>sourceSize</key>
                <string>{48,24}</string>
            </dict>
            <key>xianglian_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,351},{44,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,20}}</string>
                <key>sourceSize</key>
                <string>{48,24}</string>
            </dict>
            <key>xiezi_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,350},{44,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,20}}</string>
                <key>sourceSize</key>
                <string>{48,24}</string>
            </dict>
            <key>xunzhangIcon_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,306},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{52,64}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>xunzhangIcon_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,112},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{60,64}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>yaodai_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,328},{44,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,20}}</string>
                <key>sourceSize</key>
                <string>{44,20}</string>
            </dict>
            <key>yifu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,306},{44,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,20}}</string>
                <key>sourceSize</key>
                <string>{48,24}</string>
            </dict>
            <key>zuoqiIcon_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,285},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{52,64}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>zuoqiIcon_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,46},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{60,64}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_renwu.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:455339c4e75d7bddeb5b45ef013c85ff:01f7c4130817e7ed67d593ab51aa2b56:23aa118da68928fca6279bec856d6a8c$</string>
            <key>textureFileName</key>
            <string>hero_renwu.png</string>
        </dict>
    </dict>
</plist>
