<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,170},{224,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,23}}</string>
                <key>sourceSize</key>
                <string>{224,23}</string>
            </dict>
            <key>daijihuoIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{75,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{75,18}}</string>
                <key>sourceSize</key>
                <string>{75,24}</string>
            </dict>
            <key>detailBkg_288.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,65}}</string>
                <key>sourceSize</key>
                <string>{288,65}</string>
            </dict>
            <key>expBar198.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{194,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{194,17}}</string>
                <key>sourceSize</key>
                <string>{198,23}</string>
            </dict>
            <key>hero_lanxuantiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{288,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,61}}</string>
                <key>sourceSize</key>
                <string>{288,61}</string>
            </dict>
            <key>jihuoIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,435},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>liantiBkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{253,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,252}}</string>
                <key>sourceSize</key>
                <string>{253,252}</string>
            </dict>
            <key>liliangIcon_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,355},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>liliangIcon_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,275},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>lingliIcon_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,195},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>lingliIcon_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,195},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>minjieIcon_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,386},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>minjieIcon_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,386},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>nailiIcon_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,386},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>nailiIcon_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>shuxingxiulian_baizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,62},{97,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{97,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
            <key>shuxingzhandouli_labelfont.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,21},{131,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,39}}</string>
                <key>sourceSize</key>
                <string>{131,39}</string>
            </dict>
            <key>tizhiIcon_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,90},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>tizhiIcon_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,21},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_lianti.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb24b79a9d08ea22176b7d636a0a0827:d6ac74b689edf600244d15ec8b9a093f:c67abfca5407cca7a9495c360b4c7e30$</string>
            <key>textureFileName</key>
            <string>hero_lianti.png</string>
        </dict>
    </dict>
</plist>
