<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chenghao1_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,226},{81,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{81,18}}</string>
                <key>sourceSize</key>
                <string>{83,18}</string>
            </dict>
            <key>chenghao2_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,206},{83,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,18}}</string>
                <key>sourceSize</key>
                <string>{83,18}</string>
            </dict>
            <key>fuben_renwuditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{540,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,180}}</string>
                <key>sourceSize</key>
                <string>{540,180}</string>
            </dict>
            <key>huodetiaojianartFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,184},{181,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{181,20}}</string>
                <key>sourceSize</key>
                <string>{181,24}</string>
            </dict>
            <key>listButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{228,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,42}}</string>
                <key>sourceSize</key>
                <string>{228,42}</string>
            </dict>
            <key>peidai_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,228},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>peidaishuxing_artFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,228},{181,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{181,20}}</string>
                <key>sourceSize</key>
                <string>{181,24}</string>
            </dict>
            <key>xiexia_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_medal.png</string>
            <key>size</key>
            <string>{1024,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5da6b6d507ed927240e8448df448c5df:07c06cc1fa45922aa686855a1b68b946:0778c23de240d686b725f2b0bb5535f1$</string>
            <key>textureFileName</key>
            <string>hero_medal.png</string>
        </dict>
    </dict>
</plist>
