<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_artFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,30},{126,25}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{126,25}}</string>
                <key>sourceSize</key>
                <string>{144,37}</string>
            </dict>
            <key>huangzi_tiaoti2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{710,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{710,37}}</string>
                <key>sourceSize</key>
                <string>{710,37}</string>
            </dict>
            <key>huangzi_tiaoti4.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,64},{104,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,18}}</string>
                <key>sourceSize</key>
                <string>{104,18}</string>
            </dict>
            <key>huangzi_tiaoti6.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,64},{72,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,18}}</string>
                <key>sourceSize</key>
                <string>{72,18}</string>
            </dict>
            <key>huangzi_tiaoti7.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,2},{72,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,17}}</string>
                <key>sourceSize</key>
                <string>{72,17}</string>
            </dict>
            <key>jieshourenwu_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{99,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{99,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
            <key>lanse_dikuai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>lanse_dikuai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>tishijiantou1_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{34,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{34,66}}</string>
                <key>sourceSize</key>
                <string>{50,82}</string>
            </dict>
            <key>tishijiantou1_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{50,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,82}}</string>
                <key>sourceSize</key>
                <string>{50,82}</string>
            </dict>
            <key>tishijiantou_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{34,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{34,66}}</string>
                <key>sourceSize</key>
                <string>{50,82}</string>
            </dict>
            <key>tishijiantou_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,82}}</string>
                <key>sourceSize</key>
                <string>{50,82}</string>
            </dict>
            <key>xingjijiangliIcon_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{72,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{72,64}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>xingjijiangliIcon_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{72,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{72,64}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huodong_meiripaohuan.png</string>
            <key>size</key>
            <string>{1024,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb9a2814a52ef2cbec1a2526fff82834:3b0783c2970c19158a1fc3eb45296032:ef29b935810d79e97f3c851695bde625$</string>
            <key>textureFileName</key>
            <string>huodong_meiripaohuan.png</string>
        </dict>
    </dict>
</plist>
