<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>duihuan_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{62,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>input330_Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{330,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,28}}</string>
                <key>sourceSize</key>
                <string>{330,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huodon_duihuanlibao.png</string>
            <key>size</key>
            <string>{512,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:957355924634fbc437a4feb7649d2569:671fe3696e36da3c0be460c657f052f7:06659b99011afa2b0d9d8fd093c42b26$</string>
            <key>textureFileName</key>
            <string>huodon_duihuanlibao.png</string>
        </dict>
    </dict>
</plist>
