<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>input245Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{245,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,40}}</string>
                <key>sourceSize</key>
                <string>{245,40}</string>
            </dict>
            <key>jine2_Font.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{54,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,27}}</string>
                <key>sourceSize</key>
                <string>{56,29}</string>
            </dict>
            <key>lvshuzi_Font.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,68},{126,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,22}}</string>
                <key>sourceSize</key>
                <string>{126,22}</string>
            </dict>
            <key>moneyIcon_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,44},{32,22}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{32,22}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>querenwuwu_Font.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{209,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{209,20}}</string>
                <key>sourceSize</key>
                <string>{211,24}</string>
            </dict>
            <key>qufukuan_baizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{73,26}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{73,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huodong_chongzhi2.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:940a199339f3103cb31d254af5b37b20:33b02793fbd628751b1d0eb3f26123b9:732de82ea165e4492555bd08ecbb4258$</string>
            <key>textureFileName</key>
            <string>huodong_chongzhi2.png</string>
        </dict>
    </dict>
</plist>
