<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chouqi_hua01nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,529},{156,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{156,78}}</string>
                <key>sourceSize</key>
                <string>{160,80}</string>
            </dict>
            <key>chouqi_hua01sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{156,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{156,78}}</string>
                <key>sourceSize</key>
                <string>{160,80}</string>
            </dict>
            <key>chouqu_01nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,601},{156,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{156,56}}</string>
                <key>sourceSize</key>
                <string>{160,60}</string>
            </dict>
            <key>chouqu_01sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{156,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{156,56}}</string>
                <key>sourceSize</key>
                <string>{160,60}</string>
            </dict>
            <key>chouqu_fabhui01.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,529},{62,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{62,24}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>chouqu_gongxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,485},{176,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,42}}</string>
                <key>sourceSize</key>
                <string>{176,42}</string>
            </dict>
            <key>chouqu_guanghuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{507,481}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,21},{507,481}}</string>
                <key>sourceSize</key>
                <string>{519,519}</string>
            </dict>
            <key>chouqu_mingcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,485},{212,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{212,27}}</string>
                <key>sourceSize</key>
                <string>{212,35}</string>
            </dict>
            <key>chpuqi_queding.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,513},{62,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>chpuqi_zailaiyici01.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,485},{97,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{97,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
            <key>pet_landian.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,541},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>star_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,513},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huodong_chouquchongwu.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc3abafd0222351cd88abd5c04cf8f7f:bbd71ad613fcd984b3696689887c2e6b:650dd0fd7a61cea667708e99b3cf4711$</string>
            <key>textureFileName</key>
            <string>huodong_chouquchongwu.png</string>
        </dict>
    </dict>
</plist>
