<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gensui_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,475},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>help_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,447},{38,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{38,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>help_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,447},{48,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>shenqi_ditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{538,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,383}}</string>
                <key>sourceSize</key>
                <string>{538,383}</string>
            </dict>
            <key>shenqi_wenzikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{376,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,58}}</string>
                <key>sourceSize</key>
                <string>{376,58}</string>
            </dict>
            <key>xiuxi2_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,447},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huodong_shenqixinxi.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa7f670388abf5a4b0865bdc99e905e4:6e635027797650131d4eb2566c82787c:6c9eb7e7249c355ebdae1212d6885c4a$</string>
            <key>textureFileName</key>
            <string>huodong_shenqixinxi.png</string>
        </dict>
    </dict>
</plist>
