<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>changguan_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{136,27}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{136,27}}</string>
                <key>sourceSize</key>
                <string>{144,37}</string>
            </dict>
            <key>chuangguanButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,93},{72,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,27}}</string>
                <key>sourceSize</key>
                <string>{72,27}</string>
            </dict>
            <key>chuangguanButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{72,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,27}}</string>
                <key>sourceSize</key>
                <string>{72,27}</string>
            </dict>
            <key>contentBkg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>lengque_lanzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{79,18}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,18}}</string>
                <key>sourceSize</key>
                <string>{83,18}</string>
            </dict>
            <key>wanjia_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,22},{43,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{43,18}}</string>
                <key>sourceSize</key>
                <string>{45,18}</string>
            </dict>
            <key>zhanbao_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{41,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{41,18}}</string>
                <key>sourceSize</key>
                <string>{45,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huodong_chuangguan01.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:059815b10729808ef7643d665513c348:0925057a54b6dd2c36d5d67ddd278f18:2f52afc4d80ae73068e18a7005185021$</string>
            <key>textureFileName</key>
            <string>huodong_chuangguan01.png</string>
        </dict>
    </dict>
</plist>
