<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shoucitongguan_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{457,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{457,280}}</string>
                <key>sourceSize</key>
                <string>{457,280}</string>
            </dict>
            <key>tongguanjianli_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{109,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,19}}</string>
                <key>sourceSize</key>
                <string>{109,19}</string>
            </dict>
            <key>wozhidaole_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{97,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{97,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huodong_tongtianta2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4110f62b4dcdde879de63b39ce8bc93:93975e6375bf3b7ff5d130a31f78e4ab:e09f5a3d0f6bf5d1a01d39dea24495a3$</string>
            <key>textureFileName</key>
            <string>huodong_tongtianta2.png</string>
        </dict>
    </dict>
</plist>
