<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bang_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{45,45}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>bang_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,77},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{224,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,23}}</string>
                <key>sourceSize</key>
                <string>{224,23}</string>
            </dict>
            <key>di_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,124},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{45,45}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>di_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,22},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>expBar198.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{194,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{194,17}}</string>
                <key>sourceSize</key>
                <string>{198,23}</string>
            </dict>
            <key>guai_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,77},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{45,45}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>guai_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,22},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>kunlunshan_ditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{393,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,85}}</string>
                <key>sourceSize</key>
                <string>{393,85}</string>
            </dict>
            <key>kunlunshan_subButtonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,2},{70,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{70,18}}</string>
                <key>sourceSize</key>
                <string>{78,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huodong_kuilunshang.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3afa1efebfc440c7e3efdbd7a64b4ded:222a8b914f57706e6fc154877b3a606e:ed93d4bd829f760b09dd5607c9c724e6$</string>
            <key>textureFileName</key>
            <string>huodong_kuilunshang.png</string>
        </dict>
    </dict>
</plist>
