<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1zi_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,49},{26,7}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{26,7}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>2zi_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,58},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{26,25}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>3zi_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,64},{28,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{28,25}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>4zi_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,22},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{26,25}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>5zi_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,64},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{26,25}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>6zi_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,27}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>contentBkg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dot_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{14,14}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>qiandao_newFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{138,25}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{138,25}}</string>
                <key>sourceSize</key>
                <string>{144,37}</string>
            </dict>
            <key>qiandaojiangli_artFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{98,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{98,18}}</string>
                <key>sourceSize</key>
                <string>{100,24}</string>
            </dict>
            <key>rizi_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{22,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{22,25}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>yue_huang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{8,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{8,18}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>yue_huang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{14,18}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>yue_huangzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,18},{22,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{22,24}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huodong_meiriqiandao.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d17bc9a1f9ea8ed4def2597e2d668787:8526a7a72afeab69b801e51529f01cef:cf9f736e2909a78b2a9b8295086f31d7$</string>
            <key>textureFileName</key>
            <string>huodong_meiriqiandao.png</string>
        </dict>
    </dict>
</plist>
