<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chaijitehui_huangfont.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{177,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,58}}</string>
                <key>sourceSize</key>
                <string>{177,58}</string>
            </dict>
            <key>tehui_dise.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,175},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>tuhui_fengexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,2},{2,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,60}}</string>
                <key>sourceSize</key>
                <string>{2,60}</string>
            </dict>
            <key>tuhui_guangxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,62},{174,111}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,111}}</string>
                <key>sourceSize</key>
                <string>{174,115}</string>
            </dict>
            <key>tuhui_uikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huodong_chaojitehui.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28acb0fde4cc4f7645128225562c2c73:e463ac1c5e18231f978f34cbd91e5ddc:d6a191d38681f5bdaeb7847d2895716b$</string>
            <key>textureFileName</key>
            <string>huodong_chaojitehui.png</string>
        </dict>
    </dict>
</plist>
