<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diaoyu_xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{187,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,3}}</string>
                <key>sourceSize</key>
                <string>{187,3}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huodong_kuilunshang_renwu.png</string>
            <key>size</key>
            <string>{256,8}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fbc4720feabc14dc86da84b835aa57ff:9035af97b87a9672a613da3ff9f8b0fb:b0aeaf93575bbc2e3c13a49b546df9ed$</string>
            <key>textureFileName</key>
            <string>huodong_kuilunshang_renwu.png</string>
        </dict>
    </dict>
</plist>
