<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dengji_huangzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{40,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,17}}</string>
                <key>sourceSize</key>
                <string>{40,17}</string>
            </dict>
            <key>jiangli_huangzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{62,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,25}}</string>
                <key>sourceSize</key>
                <string>{62,25}</string>
            </dict>
            <key>kaifu_dikuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{501,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{501,82}}</string>
                <key>sourceSize</key>
                <string>{501,82}</string>
            </dict>
            <key>moneyIcon_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{32,22}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{32,22}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>zhuangyuan_jiangbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{150,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,50}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huodong_kaifuhuodong2.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38aa57434fc200cbe6f6efc5fa4cb309:3b4b711c5299fd51ba75a283810cb75c:57f4ca7432805f76c3a8bbe8ef925766$</string>
            <key>textureFileName</key>
            <string>huodong_kaifuhuodong2.png</string>
        </dict>
    </dict>
</plist>
