<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diaoyu_wanjiakuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,248}}</string>
                <key>sourceSize</key>
                <string>{190,248}</string>
            </dict>
            <key>diaoyu_wanjialiebiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{190,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,32}}</string>
                <key>sourceSize</key>
                <string>{190,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huodong_diaoyu1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76e3b17bb751aa7a28b1da9bc3aef6b3:bf8cbf0224637b53e0e26683da017991:978dd3e45ab1e32a7fd39949f7102420$</string>
            <key>textureFileName</key>
            <string>huodong_diaoyu1.png</string>
        </dict>
    </dict>
</plist>
