<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bazhu_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,165},{75,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,80}}</string>
                <key>sourceSize</key>
                <string>{75,80}</string>
            </dict>
            <key>bazhu_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{75,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,80}}</string>
                <key>sourceSize</key>
                <string>{75,80}</string>
            </dict>
            <key>chengweiVIP_lanzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,90},{89,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{89,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
            <key>chongzhi_newwenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,118},{62,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>contentBkg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,146},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>huodongdiwen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,31}}</string>
                <key>sourceSize</key>
                <string>{202,31}</string>
            </dict>
            <key>huodongjieshao_artFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,35},{181,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{181,20}}</string>
                <key>sourceSize</key>
                <string>{181,24}</string>
            </dict>
            <key>saodang_menuwenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,35},{62,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>subButton1_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{135,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{135,52}}</string>
                <key>sourceSize</key>
                <string>{135,54}</string>
            </dict>
            <key>subButton1_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{135,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{135,52}}</string>
                <key>sourceSize</key>
                <string>{135,54}</string>
            </dict>
            <key>tongtianta_titleFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,63},{104,25}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{104,25}}</string>
                <key>sourceSize</key>
                <string>{110,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huodong_tongtianta.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fe814f691ac3da45dc723b5a7f0d667:b1c26bd1432abd1ce1a85c8221ee4c38:befc98871bdd6307383ddc719d086359$</string>
            <key>textureFileName</key>
            <string>huodong_tongtianta.png</string>
        </dict>
    </dict>
</plist>
