<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lingqu_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{64,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{64,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>mubiao_artFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{181,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{181,20}}</string>
                <key>sourceSize</key>
                <string>{181,24}</string>
            </dict>
            <key>mubiaojiangli_artFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{181,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{181,20}}</string>
                <key>sourceSize</key>
                <string>{181,24}</string>
            </dict>
            <key>shifangshenqi_titleFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{138,27}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{138,27}}</string>
                <key>sourceSize</key>
                <string>{144,37}</string>
            </dict>
            <key>zhangjiejiangli_artFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{181,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{181,20}}</string>
                <key>sourceSize</key>
                <string>{181,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huodong_shifanshenqi.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9fc1085b6c9807305baca014b0c03e5e:455c10b0a05ffb4ec99e63c159675272:7ab5e4f414e6e39605104a29d2389265$</string>
            <key>textureFileName</key>
            <string>huodong_shifanshenqi.png</string>
        </dict>
    </dict>
</plist>
