<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banganjian_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,48},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>banganjian_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>daojishi_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,89},{51,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,18}}</string>
                <key>sourceSize</key>
                <string>{51,18}</string>
            </dict>
            <key>gerenjifeng_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{67,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,17}}</string>
                <key>sourceSize</key>
                <string>{67,17}</string>
            </dict>
            <key>gerenleitai_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{98,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{98,18}}</string>
                <key>sourceSize</key>
                <string>{100,24}</string>
            </dict>
            <key>gerenlietai_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,85}}</string>
                <key>sourceSize</key>
                <string>{320,85}</string>
            </dict>
            <key>jinfengpaihang_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,109},{66,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,17}}</string>
                <key>sourceSize</key>
                <string>{66,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huodong_gerenleitai.png</string>
            <key>size</key>
            <string>{512,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d75d5559bd1cda84749c74a72041e3ff:d3934f5d96dd671bd80019600760c35f:534e8d9e66444d827a50b527a3555957$</string>
            <key>textureFileName</key>
            <string>huodong_gerenleitai.png</string>
        </dict>
    </dict>
</plist>
