<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>leixing_zhuzhen.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,478},{40,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,17}}</string>
                <key>sourceSize</key>
                <string>{40,17}</string>
            </dict>
            <key>mingcheng_zhuzhen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{40,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,17}}</string>
                <key>sourceSize</key>
                <string>{40,17}</string>
            </dict>
            <key>paohuan_dibai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{131,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,228}}</string>
                <key>sourceSize</key>
                <string>{131,228}</string>
            </dict>
            <key>paohuan_xuanzhekuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{145,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,244}}</string>
                <key>sourceSize</key>
                <string>{145,244}</string>
            </dict>
            <key>pet_zidian4.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huodong_shenchongzhuzhen1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99b46cc3ce54c24b474a6792088c1a53:e63971766d766fc7d841b704c8fe2bac:dfc4e13b0647364ebd98e4ae4cf7ccea$</string>
            <key>textureFileName</key>
            <string>huodong_shenchongzhuzhen1.png</string>
        </dict>
    </dict>
</plist>
