<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bishang_tubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,327},{63,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,35}}</string>
                <key>sourceSize</key>
                <string>{63,35}</string>
            </dict>
            <key>bisheng_caiquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,265},{66,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{66,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>bu_caiquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{68,68}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>canquan_baijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{477,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,197}}</string>
                <key>sourceSize</key>
                <string>{477,197}</string>
            </dict>
            <key>canquan_diwenkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{120,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,185}}</string>
                <key>sourceSize</key>
                <string>{120,185}</string>
            </dict>
            <key>canquan_wanzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,234},{66,27}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{66,27}}</string>
                <key>sourceSize</key>
                <string>{72,37}</string>
            </dict>
            <key>contentBkg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,265},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>huodongdiwen.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,201},{202,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,31}}</string>
                <key>sourceSize</key>
                <string>{202,31}</string>
            </dict>
            <key>jiandao_caiquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,454},{68,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{68,52}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pinshou_canquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,451},{104,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{104,50}}</string>
                <key>sourceSize</key>
                <string>{110,52}</string>
            </dict>
            <key>shengli_canquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,333},{104,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{104,50}}</string>
                <key>sourceSize</key>
                <string>{110,52}</string>
            </dict>
            <key>shibai_canquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{110,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,52}}</string>
                <key>sourceSize</key>
                <string>{110,52}</string>
            </dict>
            <key>shitou_caiquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,201},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{60,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>woyaojinb_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,385},{72,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{72,64}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>woyaojinb_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,267},{72,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{72,64}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>woyaojingyan_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,449},{72,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{72,60}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>woyaojingyan_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,385},{72,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{72,62}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>woyaoqianneng_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,201},{72,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{72,64}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>woyaoqianneng_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,388},{72,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{72,64}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huodong_chuangguan03.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4011584f337a6a1bbfdff0f9b2298e40:d0bab53e6e7057d0072340b2524a4a0b:7851ed57241ce9238efa27d33714f412$</string>
            <key>textureFileName</key>
            <string>huodong_chuangguan03.png</string>
        </dict>
    </dict>
</plist>
