<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qirilibao_1day.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{69,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{69,18}}</string>
                <key>sourceSize</key>
                <string>{73,22}</string>
            </dict>
            <key>qirilibao_2day.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,2},{69,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{69,18}}</string>
                <key>sourceSize</key>
                <string>{73,22}</string>
            </dict>
            <key>qirilibao_3day.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,436},{69,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{69,18}}</string>
                <key>sourceSize</key>
                <string>{73,22}</string>
            </dict>
            <key>qirilibao_4day.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,416},{69,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{69,18}}</string>
                <key>sourceSize</key>
                <string>{73,22}</string>
            </dict>
            <key>qirilibao_5day.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,436},{69,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{69,18}}</string>
                <key>sourceSize</key>
                <string>{73,22}</string>
            </dict>
            <key>qirilibao_6day.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,416},{69,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{69,18}}</string>
                <key>sourceSize</key>
                <string>{73,22}</string>
            </dict>
            <key>qirilibao_7day.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,487},{69,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{69,18}}</string>
                <key>sourceSize</key>
                <string>{73,22}</string>
            </dict>
            <key>qirilibao_Font.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,387},{136,27}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{136,27}}</string>
                <key>sourceSize</key>
                <string>{144,37}</string>
            </dict>
            <key>qirilibao_diwen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,425},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>qirilibao_huangwenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,469},{710,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{710,37}}</string>
                <key>sourceSize</key>
                <string>{710,37}</string>
            </dict>
            <key>qirilibao_lingqu_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,343},{83,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,42}}</string>
                <key>sourceSize</key>
                <string>{83,42}</string>
            </dict>
            <key>qirilibao_lingqu_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,299},{83,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,42}}</string>
                <key>sourceSize</key>
                <string>{83,42}</string>
            </dict>
            <key>qirilibao_lingqu_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,425},{83,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,42}}</string>
                <key>sourceSize</key>
                <string>{83,42}</string>
            </dict>
            <key>qirilibao_wupinkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>qirilibao_wupinkuang_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>qirilibao_wupintiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{97,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,295}}</string>
                <key>sourceSize</key>
                <string>{97,295}</string>
            </dict>
            <key>yilingqu_artFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,387},{68,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{68,32}}</string>
                <key>sourceSize</key>
                <string>{80,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huodong_7rilibao.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa1a4854a61453aea311a56ea9e1a139:3cffb9d64d1194eaebfbaa4eeec02d77:9a750a952a79cca42b1eb085725ed457$</string>
            <key>textureFileName</key>
            <string>huodong_7rilibao.png</string>
        </dict>
    </dict>
</plist>
