<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>goumai_baizifont.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,23},{62,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>jiaoge_baisefont.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,51},{34,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,17}}</string>
                <key>sourceSize</key>
                <string>{34,17}</string>
            </dict>
            <key>lanseanjian_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{125,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,44}}</string>
                <key>sourceSize</key>
                <string>{125,44}</string>
            </dict>
            <key>lanseanjian_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{125,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,44}}</string>
                <key>sourceSize</key>
                <string>{125,44}</string>
            </dict>
            <key>lanseanjian_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{125,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,44}}</string>
                <key>sourceSize</key>
                <string>{125,44}</string>
            </dict>
            <key>libao1_baisefont.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{65,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{65,19}}</string>
                <key>sourceSize</key>
                <string>{69,21}</string>
            </dict>
            <key>moneyIcon_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,51},{32,22}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{32,22}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>tuhui_lansemoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,104},{146,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,23}}</string>
                <key>sourceSize</key>
                <string>{146,23}</string>
            </dict>
            <key>tuhui_taocankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{438,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,100}}</string>
                <key>sourceSize</key>
                <string>{438,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huodong_chaojitehui1.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b6953543b8e589066dace6f021e52a2:b348de119ae1b985dd5dace669fa9fbe:6e7fde18bc95b2fc511d386b7493e7b2$</string>
            <key>textureFileName</key>
            <string>huodong_chaojitehui1.png</string>
        </dict>
    </dict>
</plist>
