<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lanse_dikuai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>lanse_dikuai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>queding_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,31},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>shenchongzhuzhen_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,2},{136,27}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{136,27}}</string>
                <key>sourceSize</key>
                <string>{144,37}</string>
            </dict>
            <key>shenchongzhuzhen_xiaotishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{710,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{710,37}}</string>
                <key>sourceSize</key>
                <string>{710,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huodong_shenchongzhuzhen.png</string>
            <key>size</key>
            <string>{1024,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2f969a9830fbf17ca60a2476640ffcf:268791aeee0b9489e58cab6b45f3b3ee:6ae3ebee97cce774b3e6ee337f7f0884$</string>
            <key>textureFileName</key>
            <string>huodong_shenchongzhuzhen.png</string>
        </dict>
    </dict>
</plist>
