<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chongzhi_newdikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{241,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,159}}</string>
                <key>sourceSize</key>
                <string>{241,159}</string>
            </dict>
            <key>lvseanjian_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,301},{133,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,52}}</string>
                <key>sourceSize</key>
                <string>{133,52}</string>
            </dict>
            <key>lvseanjian_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,247},{133,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,52}}</string>
                <key>sourceSize</key>
                <string>{133,52}</string>
            </dict>
            <key>picture_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,353},{174,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,115}}</string>
                <key>sourceSize</key>
                <string>{174,115}</string>
            </dict>
            <key>picture_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{174,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,115}}</string>
                <key>sourceSize</key>
                <string>{174,115}</string>
            </dict>
            <key>picture_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,236},{174,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,115}}</string>
                <key>sourceSize</key>
                <string>{174,115}</string>
            </dict>
            <key>picture_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{174,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,115}}</string>
                <key>sourceSize</key>
                <string>{174,115}</string>
            </dict>
            <key>picture_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,119},{174,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,115}}</string>
                <key>sourceSize</key>
                <string>{174,115}</string>
            </dict>
            <key>picture_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,2},{174,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,115}}</string>
                <key>sourceSize</key>
                <string>{174,115}</string>
            </dict>
            <key>renmingbishuzi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,214},{27,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,31}}</string>
                <key>sourceSize</key>
                <string>{27,31}</string>
            </dict>
            <key>renmingbishuzi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,116},{21,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{21,31}}</string>
                <key>sourceSize</key>
                <string>{27,31}</string>
            </dict>
            <key>renmingbishuzi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,202},{27,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,31}}</string>
                <key>sourceSize</key>
                <string>{27,31}</string>
            </dict>
            <key>renmingbishuzi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,169},{27,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,31}}</string>
                <key>sourceSize</key>
                <string>{27,31}</string>
            </dict>
            <key>renmingbishuzi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,181},{27,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,31}}</string>
                <key>sourceSize</key>
                <string>{27,31}</string>
            </dict>
            <key>renmingbishuzi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,169},{27,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,31}}</string>
                <key>sourceSize</key>
                <string>{27,31}</string>
            </dict>
            <key>renmingbishuzi_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,148},{27,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,31}}</string>
                <key>sourceSize</key>
                <string>{27,31}</string>
            </dict>
            <key>renmingbishuzi_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,136},{27,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,31}}</string>
                <key>sourceSize</key>
                <string>{27,31}</string>
            </dict>
            <key>shoumingwenzi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,97},{83,17}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{83,17}}</string>
                <key>sourceSize</key>
                <string>{87,21}</string>
            </dict>
            <key>shoumingwenzi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,78},{83,17}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{83,17}}</string>
                <key>sourceSize</key>
                <string>{87,21}</string>
            </dict>
            <key>shoumingwenzi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,59},{83,17}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{83,17}}</string>
                <key>sourceSize</key>
                <string>{87,21}</string>
            </dict>
            <key>shoumingwenzi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,40},{83,17}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{83,17}}</string>
                <key>sourceSize</key>
                <string>{87,21}</string>
            </dict>
            <key>shoumingwenzi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,21},{83,17}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{83,17}}</string>
                <key>sourceSize</key>
                <string>{87,21}</string>
            </dict>
            <key>shoumingwenzi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,2},{83,17}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{83,17}}</string>
                <key>sourceSize</key>
                <string>{87,21}</string>
            </dict>
            <key>yuan_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,116},{33,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,30}}</string>
                <key>sourceSize</key>
                <string>{33,30}</string>
            </dict>
            <key>yuanbao1_iocn.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,149},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>yuanbao2_iocn.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,116},{28,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,18}}</string>
                <key>sourceSize</key>
                <string>{28,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huodong_chongzhi3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9fe40f7b8123dec90158b09644e36942:b2fa6d070bbe7af807b09c006ea7a161:7b1f19fd015c15fcf71c6fe3ccb2fe52$</string>
            <key>textureFileName</key>
            <string>huodong_chongzhi3.png</string>
        </dict>
    </dict>
</plist>
