<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>input01Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{200,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,40}}</string>
                <key>sourceSize</key>
                <string>{200,40}</string>
            </dict>
            <key>jiaoyi01_subButtonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>jiaoyi_titleFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{7,2},{66,25}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{66,25}}</string>
                <key>sourceSize</key>
                <string>{72,37}</string>
            </dict>
            <key>lockIcon_unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{44,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>vertLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{3,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,208}}</string>
                <key>sourceSize</key>
                <string>{3,208}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiaoyi.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc68975edd5abb3af0f3e11e111126ac:d1f937228a7e4b5e1d6115cfab34f109:b5d9ce52a7699a812322109c51c27765$</string>
            <key>textureFileName</key>
            <string>jiaoyi.png</string>
        </dict>
    </dict>
</plist>
