<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiangliIcon_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,30},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{52,64}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>jiangliIcon_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{60,64}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>jiasu_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jingji.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8440643548fcb241a9172eabf149c5fd:657f81f2efc634456ffe0c54a42af627:f44180349b87e5b9665431a153bbe7e3$</string>
            <key>textureFileName</key>
            <string>jingji.png</string>
        </dict>
    </dict>
</plist>
