<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>horiLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{465,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,3}}</string>
                <key>sourceSize</key>
                <string>{465,3}</string>
            </dict>
            <key>shangchengmeizi_quanshen_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,7},{200,385}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,385}}</string>
                <key>sourceSize</key>
                <string>{200,385}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jingji_shangdian.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e20c673c58ca89773abcaeb02ad0ac7:3f3fa3f812199abd9d499b8093df9b0c:7f654923f560b1ba764f96753487b43d$</string>
            <key>textureFileName</key>
            <string>jingji_shangdian.png</string>
        </dict>
    </dict>
</plist>
