<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>horiLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{465,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,3}}</string>
                <key>sourceSize</key>
                <string>{465,3}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jingji_jilu.png</string>
            <key>size</key>
            <string>{512,8}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eec5244c94cffaa71a088329f5134522:c9fca7e62142e6e307c86913df37f480:b8eb5c35876ebc8c22107d88f2f0893d$</string>
            <key>textureFileName</key>
            <string>jingji_jilu.png</string>
        </dict>
    </dict>
</plist>
