<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anjianjiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{11,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,10}}</string>
                <key>sourceSize</key>
                <string>{11,10}</string>
            </dict>
            <key>bangpaipindao_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,106},{53,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{53,28}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
            <key>charu_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,106},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{75,75}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>charu_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,106},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{75,75}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>duiwupindao_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,106},{53,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{53,28}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
            <key>fasong_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{75,75}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>fasong_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{75,75}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>input132Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,106},{132,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,50}}</string>
                <key>sourceSize</key>
                <string>{132,50}</string>
            </dict>
            <key>input360Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,54},{360,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,50}}</string>
                <key>sourceSize</key>
                <string>{360,50}</string>
            </dict>
            <key>input494Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{494,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{494,50}}</string>
                <key>sourceSize</key>
                <string>{494,50}</string>
            </dict>
            <key>liaotianpindao_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,183},{109,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{109,53}}</string>
                <key>sourceSize</key>
                <string>{109,57}</string>
            </dict>
            <key>liaotianpindao_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,183},{109,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{109,53}}</string>
                <key>sourceSize</key>
                <string>{109,57}</string>
            </dict>
            <key>shijianpindao_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,208},{55,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{55,28}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
            <key>shijianpindao_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{55,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{55,28}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
            <key>siliaopindao_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,158},{53,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{53,28}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>liaotian.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6870fb12d1c891a2e432d83788ac8ca8:e9244f4ebc5bb3910b7ac6a068788775:ee9e8262f76499d2b67064f3a895e5cd$</string>
            <key>textureFileName</key>
            <string>liaotian.png</string>
        </dict>
    </dict>
</plist>
