<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>VIP.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,163},{36,21}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{36,21}}</string>
                <key>sourceSize</key>
                <string>{40,25}</string>
            </dict>
            <key>VIP0.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{15,21}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{15,21}}</string>
                <key>sourceSize</key>
                <string>{17,25}</string>
            </dict>
            <key>bangzhu_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{52,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{52,62}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>bangzhu_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,228},{60,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{60,62}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>beibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,163},{78,82}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{78,82}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>chenghao_tu.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,182},{46,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{46,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>duanzao.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,104},{74,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{74,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>fightpowernum.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,140},{80,21}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{80,21}}</string>
                <key>sourceSize</key>
                <string>{84,25}</string>
            </dict>
            <key>headFrame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{245,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,100}}</string>
                <key>sourceSize</key>
                <string>{245,100}</string>
            </dict>
            <key>heroheadcell.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,104},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>interactButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,100},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>jiaohao_tu.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,247},{56,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{56,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>mapBkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,38},{142,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,60}}</string>
                <key>sourceSize</key>
                <string>{142,60}</string>
            </dict>
            <key>mapBkg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,247},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>numback.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{235,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,34}}</string>
                <key>sourceSize</key>
                <string>{235,34}</string>
            </dict>
            <key>petheadcell.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,38},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>renwuIcon_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,305},{54,58}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{54,58}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>renwuIcon_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,182},{60,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{60,62}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>shangcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{74,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{74,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>socialIcon_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,429},{52,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{52,60}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>socialIcon_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,178},{60,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{60,62}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>systemIcon_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{52,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{52,60}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>systemIcon_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,164},{60,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{60,62}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>teamIcon_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,184},{52,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{52,58}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>teamIcon_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,100},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{60,62}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainScreen960.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb43dfee876e4f9918961d43645705b4:2cfeb445761617b5177b1816717aa1ea:d7563889ad672e876a3306b3c9bc7146$</string>
            <key>textureFileName</key>
            <string>mainScreen960.png</string>
        </dict>
    </dict>
</plist>
