<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kaishixiuxian_baizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,132},{97,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{97,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
            <key>npcmeinv.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{305,272}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,37},{305,272}}</string>
                <key>sourceSize</key>
                <string>{373,336}</string>
            </dict>
            <key>popupBkg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc_duihuakuang.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:096dfb0a8fcb741c431519fc9263a2cf:da00789dc43c5f3a63a8170f7e994b43:7af6a62ba6a77dd08c5640af3f427177$</string>
            <key>textureFileName</key>
            <string>npc_duihuakuang.png</string>
        </dict>
    </dict>
</plist>
