<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diaoyu_xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,194},{187,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,3}}</string>
                <key>sourceSize</key>
                <string>{187,3}</string>
            </dict>
            <key>jieshourenwu_baizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,199},{99,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{99,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
            <key>npc_chat_btn_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,98},{188,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,94}}</string>
                <key>sourceSize</key>
                <string>{188,94}</string>
            </dict>
            <key>npc_chat_btn_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{188,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,94}}</string>
                <key>sourceSize</key>
                <string>{188,94}</string>
            </dict>
            <key>npc_chat_close_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,296},{32,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,24},{32,34}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>npc_chat_close_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{82,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>npc_chat_flower.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{42,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,17}}</string>
                <key>sourceSize</key>
                <string>{42,17}</string>
            </dict>
            <key>npc_chat_option_bg9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{256,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,50}}</string>
                <key>sourceSize</key>
                <string>{256,50}</string>
            </dict>
            <key>npc_chat_option_bg9_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{256,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,50}}</string>
                <key>sourceSize</key>
                <string>{256,50}</string>
            </dict>
            <key>npc_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,292}}</string>
                <key>sourceSize</key>
                <string>{800,292}</string>
            </dict>
            <key>wanchengrenwu_baizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,199},{97,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{97,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc_jiaohu.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c751e8c0202941fb461057506ede90e:cc3b719835750a787e32e12d8a43b127:892bc0c20720661de9e9bf6a0a966568$</string>
            <key>textureFileName</key>
            <string>npc_jiaohu.png</string>
        </dict>
    </dict>
</plist>
