<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>horiLine_276.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,22},{276,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,3}}</string>
                <key>sourceSize</key>
                <string>{276,3}</string>
            </dict>
            <key>qianghua_chongkaixiaoguo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{146,18}}</string>
                <key>sourceSize</key>
                <string>{150,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pet_qianghuaxiaoguo.png</string>
            <key>size</key>
            <string>{512,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04d6716b859df40c41fc757e8da9cfad:4ef0bbce597b3c3cede5c0c0bb802e54:faac077e21e41f9304dc5cd56958ffc0$</string>
            <key>textureFileName</key>
            <string>pet_qianghuaxiaoguo.png</string>
        </dict>
    </dict>
</plist>
