<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boxButto_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,84},{55,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,27}}</string>
                <key>sourceSize</key>
                <string>{55,27}</string>
            </dict>
            <key>boxButto_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{55,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,27}}</string>
                <key>sourceSize</key>
                <string>{55,27}</string>
            </dict>
            <key>petnewButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{318,80}}</string>
                <key>sourceSize</key>
                <string>{320,84}</string>
            </dict>
            <key>quedingOK_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,84},{38,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,19}}</string>
                <key>sourceSize</key>
                <string>{40,21}</string>
            </dict>
            <key>skillFrame_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{70,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>skillFrame_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{70,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pet_jinengCell.png</string>
            <key>size</key>
            <string>{512,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb1d6fedd7d88d9dec32048e1e7c56da:78d1b9c5078afbcaed8c72b399f9c487:8e7b7ecedc7a530ad5fcbc3e24affee9$</string>
            <key>textureFileName</key>
            <string>pet_jinengCell.png</string>
        </dict>
    </dict>
</plist>
