<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pet_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{84,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,9}}</string>
                <key>sourceSize</key>
                <string>{84,9}</string>
            </dict>
            <key>pet_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{84,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,9}}</string>
                <key>sourceSize</key>
                <string>{84,9}</string>
            </dict>
            <key>pet_touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{171,64}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{171,64}}</string>
                <key>sourceSize</key>
                <string>{197,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Pet_touxiangkuang.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c72f30ecfe45f00158eb61e3a2e9b88:ba1af1ccea3f5ae67cc6eb57963313d9:c3a00941c39946bd80060f19fd2e079a$</string>
            <key>textureFileName</key>
            <string>Pet_touxiangkuang.png</string>
        </dict>
    </dict>
</plist>
