<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>biaoti_228.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,682},{228,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,30}}</string>
                <key>sourceSize</key>
                <string>{228,30}</string>
            </dict>
            <key>cancelButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,280},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{50,50}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>cancelButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,218},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{60,60}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>contentBkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,156},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>detailBkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,94},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>fenge_xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,34},{2,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,30}}</string>
                <key>sourceSize</key>
                <string>{2,30}</string>
            </dict>
            <key>fontBkg_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{102,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
            <key>hongsubButton_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,564},{150,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{150,56}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>hongsubButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,506},{150,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{150,56}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>hongsubButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,448},{150,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{150,56}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>inputFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,94},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{40,40}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>logBkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{404,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,208}}</string>
                <key>sourceSize</key>
                <string>{404,208}</string>
            </dict>
            <key>moji_diwen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{309,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,33}}</string>
                <key>sourceSize</key>
                <string>{309,33}</string>
            </dict>
            <key>objectFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,622},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{58,58}}</string>
                <key>sourceSize</key>
                <string>{78,68}</string>
            </dict>
            <key>objectFrame_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,622},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{58,58}}</string>
                <key>sourceSize</key>
                <string>{78,68}</string>
            </dict>
            <key>objectFrame_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,272},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{58,58}}</string>
                <key>sourceSize</key>
                <string>{78,68}</string>
            </dict>
            <key>popupBkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{298,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,358}}</string>
                <key>sourceSize</key>
                <string>{298,358}</string>
            </dict>
            <key>shuzhi_diwenlan.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,34},{89,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,17}}</string>
                <key>sourceSize</key>
                <string>{89,17}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,136},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>subButton_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,564},{150,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{150,56}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>subButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,390},{150,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{150,56}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>subButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,332},{150,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{150,56}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>tishi_logBkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,667},{250,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,129}}</string>
                <key>sourceSize</key>
                <string>{250,129}</string>
            </dict>
            <key>titleBkg_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{404,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,58}}</string>
                <key>sourceSize</key>
                <string>{404,58}</string>
            </dict>
            <key>zhandouli_labelfont.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,53},{83,39}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,39}}</string>
                <key>sourceSize</key>
                <string>{87,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>share.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfbb665bf06c5194c2b7be9f25b5a298:eed751897edbbd16862cc8b2d9e27673:953d3665f264cda36fcc0ed6233f063a$</string>
            <key>textureFileName</key>
            <string>share.png</string>
        </dict>
    </dict>
</plist>
