<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>contentBkg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,94},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>huixin_roundButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,94},{52,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{52,62}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>huixin_roundButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,37},{60,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{60,62}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>lingqufujian_artFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{115,33}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{115,33}}</string>
                <key>sourceSize</key>
                <string>{121,37}</string>
            </dict>
            <key>lingquyoujian_baizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{99,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{99,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
            <key>shanchu_roundButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,37},{52,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{52,62}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>shanchu_roundButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,30},{60,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{60,62}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>tbaoIcon_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{24,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{24,24}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>xiexin_roundButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{52,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{52,60}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>xiexin_roundButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,30},{60,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{60,62}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shejiao_chakanyoujian.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c92ae1fd48a1060a29fded46f1aa61a0:5467ff7bc821f980249346b641cc76f7:446c744a83e684b37189f0a358a2d80a$</string>
            <key>textureFileName</key>
            <string>shejiao_chakanyoujian.png</string>
        </dict>
    </dict>
</plist>
