<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fasongyoujian_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,226},{97,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{97,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
            <key>haoyou_roundButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,184},{52,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{52,58}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>haoyou_roundButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{60,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{60,62}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>huangsubButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,184},{150,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{150,56}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>input220Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,184},{220,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,40}}</string>
                <key>sourceSize</key>
                <string>{220,40}</string>
            </dict>
            <key>input304Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{304,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,180}}</string>
                <key>sourceSize</key>
                <string>{304,180}</string>
            </dict>
            <key>tbaoIcon_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,226},{24,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{24,24}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shejiao_fasongyoujian.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30b1fd7aacbc78bbf20229a57e03caf8:6201ef941034ca833101ebf80c2f637d:0e07e4d1f7e6701f4747a6dbf117f449$</string>
            <key>textureFileName</key>
            <string>shejiao_fasongyoujian.png</string>
        </dict>
    </dict>
</plist>
