<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GM_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{95,26}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{95,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
            <key>youxibangzhu_titleFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{136,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{136,25}}</string>
                <key>sourceSize</key>
                <string>{144,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shezhi_youxibangzhu.png</string>
            <key>size</key>
            <string>{256,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:976ec0e996bb1c118c57ca359f180793:1d2890dc6e3c9bdf644763846980f44f:2404b5245ca8d4ed0d0d96c518ab726e$</string>
            <key>textureFileName</key>
            <string>shezhi_youxibangzhu.png</string>
        </dict>
    </dict>
</plist>
