<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shitubang_titleFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,27}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{102,27}}</string>
                <key>sourceSize</key>
                <string>{112,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shitubang.png</string>
            <key>size</key>
            <string>{128,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7648a4ed274e9a31d189759d4700409:7fa99f333133b42c9bb7a080b0cf32b2:4a8218af1eba9c64dc5dc292672f9e7a$</string>
            <key>textureFileName</key>
            <string>shitubang.png</string>
        </dict>
    </dict>
</plist>
