<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cike_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{77,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>tisheng_anjian_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,436},{180,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,50}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>tisheng_anjian_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{180,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,50}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>tishi_dengji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{34,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,17}}</string>
                <key>sourceSize</key>
                <string>{34,17}</string>
            </dict>
            <key>tishi_dikuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,432}}</string>
                <key>sourceSize</key>
                <string>{210,432}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tishiScreen10.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2192b4c189737c3c4d1063f8a3daea55:46f086aa10609d84781037b87d004a03:fb7b820706b2d453394e4a7bb1a49673$</string>
            <key>textureFileName</key>
            <string>tishiScreen10.png</string>
        </dict>
    </dict>
</plist>
