<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>haohualibao_artFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,27}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{136,27}}</string>
                <key>sourceSize</key>
                <string>{144,37}</string>
            </dict>
            <key>lingqu_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,31},{64,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{64,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>queding_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,31},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tishiScreen4.png</string>
            <key>size</key>
            <string>{256,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7400cdf2928279d61f08160f48450de9:cb76c74f3f6e2b25f89b60c4d1f50969:0a9a0f66170c47babe0ca0e1b6ec2ed3$</string>
            <key>textureFileName</key>
            <string>tishiScreen4.png</string>
        </dict>
    </dict>
</plist>
