<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tisheng_artFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,341},{138,27}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{138,27}}</string>
                <key>sourceSize</key>
                <string>{144,37}</string>
            </dict>
            <key>tisheng_biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{210,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,66}}</string>
                <key>sourceSize</key>
                <string>{210,66}</string>
            </dict>
            <key>tisheng_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,269}}</string>
                <key>sourceSize</key>
                <string>{210,269}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tisheng.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b48daa2a5fe6017c06d1bd4f857dd50:7acf6d50e4402e9cb7d379bbb32d7cf3:0df8c48b8eac22c5ba87f4f236b24fb4$</string>
            <key>textureFileName</key>
            <string>tisheng.png</string>
        </dict>
    </dict>
</plist>
