<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buhuaiche_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{76,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{76,26}}</string>
                <key>sourceSize</key>
                <string>{86,28}</string>
            </dict>
            <key>huaiche_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{86,28}</string>
            </dict>
            <key>kaishiyunbiao_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{97,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{97,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
            <key>ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,30},{34,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{34,22}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>tishi_titleFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,30},{66,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{66,26}}</string>
                <key>sourceSize</key>
                <string>{72,36}</string>
            </dict>
            <key>yunbiao_huanchedikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{80,30}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tishiScreen_convoy.png</string>
            <key>size</key>
            <string>{256,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f38cba4957dfa79f1a8e537a45e80b0:d11e0a1c5d405654e09a41275e30f5a4:3ba1d13c524e49abeab0829f194a69c5$</string>
            <key>textureFileName</key>
            <string>tishiScreen_convoy.png</string>
        </dict>
    </dict>
</plist>
