<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diaoyuIcon_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{58,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{58,58}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>kaiqigongneng_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,362},{68,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,20}}</string>
                <key>sourceSize</key>
                <string>{68,20}</string>
            </dict>
            <key>kaiqizhengcheng_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{249,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,41}}</string>
                <key>sourceSize</key>
                <string>{249,41}</string>
            </dict>
            <key>meiripaohuan_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,2},{72,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{72,64}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>shengji0.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,460},{30,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{30,38}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>shengji3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{34,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{34,38}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>shengji_newditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{668,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,330}}</string>
                <key>sourceSize</key>
                <string>{668,330}</string>
            </dict>
            <key>shenqi_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{54,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{54,64}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>zhdaole_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,334},{72,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{72,26}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tishiScreen8.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa9e767b015b2343d4c89e03e8f1dcad:acf40d10877ef45d337e8784582184bc:a7217d0e96c7fdc044001f43d71cbfc6$</string>
            <key>textureFileName</key>
            <string>tishiScreen8.png</string>
        </dict>
    </dict>
</plist>
