<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fuben_chanchulv.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{206,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,19}}</string>
                <key>sourceSize</key>
                <string>{206,19}</string>
            </dict>
            <key>fuben_dangqiangailv.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,56},{87,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,18}}</string>
                <key>sourceSize</key>
                <string>{87,18}</string>
            </dict>
            <key>fuben_wrong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{26,27}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>gailv_lan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,59},{311,24}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,24}}</string>
                <key>sourceSize</key>
                <string>{319,24}</string>
            </dict>
            <key>gailv_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,30},{307,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{307,24}}</string>
                <key>sourceSize</key>
                <string>{319,24}</string>
            </dict>
            <key>gailv_zi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{319,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,24}}</string>
                <key>sourceSize</key>
                <string>{319,24}</string>
            </dict>
            <key>guajisaodang_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{97,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{97,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
            <key>jingrutishi_Font.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,31},{136,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,26}}</string>
                <key>sourceSize</key>
                <string>{136,26}</string>
            </dict>
            <key>jinrufuben_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,2},{99,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{99,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
            <key>qianwangqianhua_Font.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{97,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{97,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tishiScreen7.png</string>
            <key>size</key>
            <string>{512,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1960deb1bf8700848d7f88edd7031bcd:a39e64e12917722bfb50b3d27a90d953:34f9dd88f8dc7fe87aaf63505456bcaf$</string>
            <key>textureFileName</key>
            <string>tishiScreen7.png</string>
        </dict>
    </dict>
</plist>
