<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LevelUpBkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{588,310}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{588,310}}</string>
                <key>sourceSize</key>
                <string>{600,310}</string>
            </dict>
            <key>LevelUpLayerCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>LevelUpLayerTo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{177,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,23}}</string>
                <key>sourceSize</key>
                <string>{177,23}</string>
            </dict>
            <key>confirm_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{62,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>shengji_lvjiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,386},{25,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,21}}</string>
                <key>sourceSize</key>
                <string>{25,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tishiScreen6.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9553ae9520fe0fb4ba514eaa86b8bea7:757a4042ee9a2e19ea8e72b7423822c5:2b62315b12c5693b2efa2c5d3e8f3d63$</string>
            <key>textureFileName</key>
            <string>tishiScreen6.png</string>
        </dict>
    </dict>
</plist>
