<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tishi_titleFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{66,26}}</string>
                <key>sourceSize</key>
                <string>{72,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tishiScreen3_960.png</string>
            <key>size</key>
            <string>{128,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7cc0ea44b482795a6c0b221fc10155a8:0ca2d4816e7cb140763f42744d921ae1:3086f8bcefd4e86c79f3edeb9cca540d$</string>
            <key>textureFileName</key>
            <string>tishiScreen3_960.png</string>
        </dict>
    </dict>
</plist>
