<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pet_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{84,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,9}}</string>
                <key>sourceSize</key>
                <string>{84,9}</string>
            </dict>
            <key>wanjia_touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{139,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,53}}</string>
                <key>sourceSize</key>
                <string>{139,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wanjia_tongxiangkuang.png</string>
            <key>size</key>
            <string>{256,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54db34e8024ad105d1b443fb452a3df7:fc0f9503ac359a09ad8e7021383d35c8:5e2f0102da7731a8d0270e642f554540$</string>
            <key>textureFileName</key>
            <string>wanjia_tongxiangkuang.png</string>
        </dict>
    </dict>
</plist>
