<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anjian_Menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>button_mid_disa.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{186,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{186,62}}</string>
                <key>sourceSize</key>
                <string>{188,64}</string>
            </dict>
            <key>button_mid_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{186,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{186,62}}</string>
                <key>sourceSize</key>
                <string>{188,64}</string>
            </dict>
            <key>button_mid_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{186,62}}</string>
                <key>sourceSize</key>
                <string>{188,64}</string>
            </dict>
            <key>button_small01_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{125,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{125,44}}</string>
                <key>sourceSize</key>
                <string>{127,44}</string>
            </dict>
            <key>button_small02_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,194},{125,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{125,44}}</string>
                <key>sourceSize</key>
                <string>{127,44}</string>
            </dict>
            <key>button_small03_disa.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{125,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{125,44}}</string>
                <key>sourceSize</key>
                <string>{127,44}</string>
            </dict>
            <key>cancelhero_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,268},{97,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{97,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
            <key>entergame_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,240},{97,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{97,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xuanzejuese.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f2b2a822b266359e5a510c6097c8eae:56acef680e5e8abb467282be98d4f0aa:91402b253c213b458e10bed55832e762$</string>
            <key>textureFileName</key>
            <string>xuanzejuese.png</string>
        </dict>
    </dict>
</plist>
