<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>denglu_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,369},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>denglu_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,369},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>fuwuqi_ditukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{566,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,365}}</string>
                <key>sourceSize</key>
                <string>{566,365}</string>
            </dict>
            <key>jinru_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,369},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>jinru_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,369},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xuanzefuwuqi.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea21345b1345fb03bc5429bc5a40ab40:41528a24bb10943e65fc7403479d7cda:38b760e128b0d07865fe1f600f698428$</string>
            <key>textureFileName</key>
            <string>xuanzefuwuqi.png</string>
        </dict>
    </dict>
</plist>
