<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alterPassword_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{99,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{99,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
            <key>bangding01_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{97,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{97,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
            <key>cancelBanding_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,31},{97,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{97,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
            <key>find_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,30},{97,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{97,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
            <key>security_titleFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,27}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{138,27}}</string>
                <key>sourceSize</key>
                <string>{144,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhanghao_anquan.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e523c498161741ad58cc2c7c9900d605:209d5f3831b297a7bc2f61347c7e4863:02d21325ebc4eddaa9473eb525950506$</string>
            <key>textureFileName</key>
            <string>zhanghao_anquan.png</string>
        </dict>
    </dict>
</plist>
