<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>queding_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,2},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>tiaozhengzhiwei_artFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{98,18}}</string>
                <key>sourceSize</key>
                <string>{100,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bangpai_tiaozhengzhiwei.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07b7fc35c8c7cd7bcb081b43bc5dbee0:32c1e960020a0e2ec5c7dd8816802f37:01c6f412b8c4c366e5c1f1282f4da223$</string>
            <key>textureFileName</key>
            <string>bangpai_tiaozhengzhiwei.png</string>
        </dict>
    </dict>
</plist>
