<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bangpaigonggao_artFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,99},{181,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{181,20}}</string>
                <key>sourceSize</key>
                <string>{181,24}</string>
            </dict>
            <key>bangpaixinxi_artFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,29}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{136,29}}</string>
                <key>sourceSize</key>
                <string>{144,37}</string>
            </dict>
            <key>panhang_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,99},{800,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,3}}</string>
                <key>sourceSize</key>
                <string>{800,3}</string>
            </dict>
            <key>shengqingrubang_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,2},{95,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{95,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bangpai_xinxi.png</string>
            <key>size</key>
            <string>{64,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:748a7f548e8d85802e7e32e6f8f1c63b:dcda244ca0e5222eb365c3f9bdfb4631:ea6b34f7bbe78941df5a6e94e04acce8$</string>
            <key>textureFileName</key>
            <string>bangpai_xinxi.png</string>
        </dict>
    </dict>
</plist>
