<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>duanzao_wupingkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>fangjian_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,80}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>huang_xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{121,5}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{121,5}}</string>
                <key>sourceSize</key>
                <string>{137,9}</string>
            </dict>
            <key>qianghua_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,105},{28,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{28,38}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>qianghua_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,197},{30,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{30,36}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>qianghua_jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,145},{28,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{28,28}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>qianghuashi03_Font.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,197},{36,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{36,38}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>quanghua_baizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,175},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>shengji_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,82},{113,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,70}}</string>
                <key>sourceSize</key>
                <string>{113,70}</string>
            </dict>
            <key>suoxucailiao_artFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{101,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{101,18}}</string>
                <key>sourceSize</key>
                <string>{101,24}</string>
            </dict>
            <key>xingyunfu_Font.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,197},{36,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{36,38}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>yulan_jiaobiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zhuangbei01_Font.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,197},{36,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{36,38}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>zhuangbeiqianghua_Font.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,235},{36,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{36,18}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>duanzao_qianghua.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fbbdf897afaa0c01bbeb7133ba993a0:38cb13e01c5fe6632cdfb9dda019f098:8601bb76a13ea15dc2e69804ae3b937f$</string>
            <key>textureFileName</key>
            <string>duanzao_qianghua.png</string>
        </dict>
    </dict>
</plist>
