<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hecheng01Button_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,44},{50,18}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{50,18}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>hecheng01Button_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,54},{52,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{52,20}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>mingwenButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,24},{50,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{50,18}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>mingwenButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{52,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{52,20}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>qianghua_9Button_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{50,16}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{50,16}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>qianghua_9Button_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{52,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{52,18}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>shengji_11Button_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{50,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{50,18}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>shengji_11Button_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,54},{50,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{50,20}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>xiangqian2Button_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,54},{50,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{50,18}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>xiangqian2Button_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{52,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{52,20}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>xilian_20Button_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,106},{50,18}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{50,18}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>xilian_20Button_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{52,20}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>duanzao.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b0ae3c1f8b6bf7877dbe1ee2b9e68e8:584b35744622932125b501828e5af6ce:035fcf9eeda8ecaf61861e8b8fdf5d6a$</string>
            <key>textureFileName</key>
            <string>duanzao.png</string>
        </dict>
    </dict>
</plist>
