<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{224,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,23}}</string>
                <key>sourceSize</key>
                <string>{224,23}</string>
            </dict>
            <key>expBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,173},{220,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{220,17}}</string>
                <key>sourceSize</key>
                <string>{224,23}</string>
            </dict>
            <key>hpBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,154},{220,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{220,17}}</string>
                <key>sourceSize</key>
                <string>{224,23}</string>
            </dict>
            <key>huang_xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{121,5}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{121,5}}</string>
                <key>sourceSize</key>
                <string>{137,9}</string>
            </dict>
            <key>lansehuanwen_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,89},{85,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,24}}</string>
                <key>sourceSize</key>
                <string>{85,24}</string>
            </dict>
            <key>lansehuanwen_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{85,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,24}}</string>
                <key>sourceSize</key>
                <string>{85,24}</string>
            </dict>
            <key>touming_dise.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{150,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{150,62}}</string>
                <key>sourceSize</key>
                <string>{154,62}</string>
            </dict>
            <key>vertLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,192},{3,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,208}}</string>
                <key>sourceSize</key>
                <string>{3,208}</string>
            </dict>
            <key>zhanshi_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,77}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{81,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>zhanshi_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,81},{62,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{62,32}}</string>
                <key>sourceSize</key>
                <string>{68,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_state.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c9e8a7cd6336e0ff57c6883ec756fb7:fb93ac7e8e74c1c4a35ec2b8ccee07b1:2ea0cb0d24761cfda6518fc87c370f92$</string>
            <key>textureFileName</key>
            <string>hero_state.png</string>
        </dict>
    </dict>
</plist>
