<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>denglulibao1_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{136,27}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{136,27}}</string>
                <key>sourceSize</key>
                <string>{144,37}</string>
            </dict>
            <key>denglulibao_wupintiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,200}}</string>
                <key>sourceSize</key>
                <string>{110,200}</string>
            </dict>
            <key>qirilibao_1day.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,71},{69,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{69,18}}</string>
                <key>sourceSize</key>
                <string>{73,22}</string>
            </dict>
            <key>qirilibao_2day.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,51},{69,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{69,18}}</string>
                <key>sourceSize</key>
                <string>{73,22}</string>
            </dict>
            <key>qirilibao_3day.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,31},{69,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{69,18}}</string>
                <key>sourceSize</key>
                <string>{73,22}</string>
            </dict>
            <key>qirilibao_diwen.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,125},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>qirilibao_lingqu_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,31},{83,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,42}}</string>
                <key>sourceSize</key>
                <string>{83,42}</string>
            </dict>
            <key>qirilibao_lingqu_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,204},{83,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,42}}</string>
                <key>sourceSize</key>
                <string>{83,42}</string>
            </dict>
            <key>qirilibao_lingqu_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{83,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,42}}</string>
                <key>sourceSize</key>
                <string>{83,42}</string>
            </dict>
            <key>qirilibao_wupinkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,188},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>qirilibao_wupinkuang_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,125},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>yilingqu_artFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,91},{68,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{68,32}}</string>
                <key>sourceSize</key>
                <string>{80,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huodong_denglulibao.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:592201be69d41faa0dbf3275ba7150d5:258212e56a65b34e85574f0f6bad321b:bf7820b57cc2f1a49216fa8336047c83$</string>
            <key>textureFileName</key>
            <string>huodong_denglulibao.png</string>
        </dict>
    </dict>
</plist>
