<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,44},{59,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,19}}</string>
                <key>sourceSize</key>
                <string>{59,19}</string>
            </dict>
            <key>10yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,201},{49,19}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,19}}</string>
                <key>sourceSize</key>
                <string>{59,19}</string>
            </dict>
            <key>300yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,172},{59,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,19}}</string>
                <key>sourceSize</key>
                <string>{59,19}</string>
            </dict>
            <key>30yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,201},{49,19}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,19}}</string>
                <key>sourceSize</key>
                <string>{59,19}</string>
            </dict>
            <key>50yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,201},{49,19}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,19}}</string>
                <key>sourceSize</key>
                <string>{59,19}</string>
            </dict>
            <key>input245Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{245,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,40}}</string>
                <key>sourceSize</key>
                <string>{245,40}</string>
            </dict>
            <key>kahao1_Font .png</key>
            <dict>
                <key>frame</key>
                <string>{{46,143},{54,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,27}}</string>
                <key>sourceSize</key>
                <string>{56,29}</string>
            </dict>
            <key>lanse_dikuai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,193},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>lijichongzhi_baizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,44},{97,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{97,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
            <key>lvshuzi_Font.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,44},{126,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,22}}</string>
                <key>sourceSize</key>
                <string>{126,22}</string>
            </dict>
            <key>mima2_Font.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,172},{54,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,27}}</string>
                <key>sourceSize</key>
                <string>{56,29}</string>
            </dict>
            <key>moneyIcon_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{32,22}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{32,22}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>xuanzemianzhi_Font.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{169,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{169,18}}</string>
                <key>sourceSize</key>
                <string>{173,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huodong_chongzhi1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5f2f61592b6d789b5b75598d6e251bf:5dd05e30f095f7544339b14b6356ea2a:50f18d4f22e8616e9923d41facb006a7$</string>
            <key>textureFileName</key>
            <string>huodong_chongzhi1.png</string>
        </dict>
    </dict>
</plist>
