<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>goumai_baizifont.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,165},{62,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>jiaoge_baisefont.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,165},{34,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,17}}</string>
                <key>sourceSize</key>
                <string>{34,17}</string>
            </dict>
            <key>lanseanjian_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,119},{125,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,44}}</string>
                <key>sourceSize</key>
                <string>{125,44}</string>
            </dict>
            <key>lanseanjian_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,73},{125,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,44}}</string>
                <key>sourceSize</key>
                <string>{125,44}</string>
            </dict>
            <key>lanseanjian_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,27},{125,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,44}}</string>
                <key>sourceSize</key>
                <string>{125,44}</string>
            </dict>
            <key>libao1_baisefont.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,442},{65,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{65,19}}</string>
                <key>sourceSize</key>
                <string>{69,21}</string>
            </dict>
            <key>libao2_baisefont.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,442},{65,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{65,19}}</string>
                <key>sourceSize</key>
                <string>{69,21}</string>
            </dict>
            <key>libao3_baisefont.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,442},{65,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{65,19}}</string>
                <key>sourceSize</key>
                <string>{69,21}</string>
            </dict>
            <key>libao4_baisefont.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,442},{65,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{65,19}}</string>
                <key>sourceSize</key>
                <string>{69,21}</string>
            </dict>
            <key>libao5_baisefont.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,161},{65,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{65,17}}</string>
                <key>sourceSize</key>
                <string>{69,21}</string>
            </dict>
            <key>libao6_baisefont.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,94},{65,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{65,17}}</string>
                <key>sourceSize</key>
                <string>{69,21}</string>
            </dict>
            <key>libao7_baisefont.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,27},{65,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{65,17}}</string>
                <key>sourceSize</key>
                <string>{69,21}</string>
            </dict>
            <key>libao8_baisefont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{65,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{65,19}}</string>
                <key>sourceSize</key>
                <string>{69,21}</string>
            </dict>
            <key>moneyIcon_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,165},{32,22}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{32,22}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>tuhui_lansemoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{146,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,23}}</string>
                <key>sourceSize</key>
                <string>{146,23}</string>
            </dict>
            <key>tuhui_taocankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{438,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,100}}</string>
                <key>sourceSize</key>
                <string>{438,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huodong_chaojitehui1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32403313e9f7b0d554a796e8a1e60e2b:29fbb97e760e5d16e9469c20e9fdb2c1:6e7fde18bc95b2fc511d386b7493e7b2$</string>
            <key>textureFileName</key>
            <string>huodong_chaojitehui1.png</string>
        </dict>
    </dict>
</plist>
