<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chengse_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,66},{62,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>jinse_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,260},{62,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{62,24}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>lanse_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,196},{62,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{62,24}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>pinzhi_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,130},{64,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{64,25}}</string>
                <key>sourceSize</key>
                <string>{72,37}</string>
            </dict>
            <key>tisheng_anjian_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{180,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,50}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>tisheng_anjian_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,341},{180,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,50}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>tisheng_biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{210,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,66}}</string>
                <key>sourceSize</key>
                <string>{210,66}</string>
            </dict>
            <key>tisheng_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,269}}</string>
                <key>sourceSize</key>
                <string>{210,269}</string>
            </dict>
            <key>zise_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{62,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huodong_husongshenshou1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:389625f7a3c6b97bb7a7e20bb4851989:2a660ec6eaa0312c2910bef92ca4fc2f:b90065702a4f37a24b7bbe7ff708ff2c$</string>
            <key>textureFileName</key>
            <string>huodong_husongshenshou1.png</string>
        </dict>
    </dict>
</plist>
