<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Shazi.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,149},{57,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{57,55}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>Shazi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,103},{75,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,73}}</string>
                <key>sourceSize</key>
                <string>{75,73}</string>
            </dict>
            <key>cike_mane.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,50},{29,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{29,42}}</string>
                <key>sourceSize</key>
                <string>{29,92}</string>
            </dict>
            <key>cike_shuoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,50},{51,127}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{51,127}}</string>
                <key>sourceSize</key>
                <string>{51,213}</string>
            </dict>
            <key>ciketubiao_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,256},{70,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{70,70}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>ciketubiao_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,254},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>fashitubiao_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,178},{74,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{74,74}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>fashitubiao_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,75},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>jinru_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,149},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>jinru_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>juese_pingtan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,145}}</string>
                <key>sourceSize</key>
                <string>{244,145}</string>
            </dict>
            <key>shurukuang_181.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{181,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,46}}</string>
                <key>sourceSize</key>
                <string>{181,46}</string>
            </dict>
            <key>xuanqu_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,163},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>xuanqu_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,103},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>zhanshitubiao_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,2},{77,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{77,71}}</string>
                <key>sourceSize</key>
                <string>{87,83}</string>
            </dict>
            <key>zhanshitubiao_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,196},{87,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,83}}</string>
                <key>sourceSize</key>
                <string>{87,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiaosexuanze1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6bb1ecd4defc52d67cfc0c8f170b0c3:577c68088589ae68f4863a1575994b16:1a187b7cf3834c6c028dd865d8f4ff9a$</string>
            <key>textureFileName</key>
            <string>jiaosexuanze1.png</string>
        </dict>
    </dict>
</plist>
