<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bangpai_1Button_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,166},{50,18}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{50,18}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>bangpai_1Button_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,114},{50,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{50,20}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>bangpaipindao_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,32},{53,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{53,28}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
            <key>duiwuButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{50,16}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{50,16}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>duiwuButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,104},{50,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{50,20}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>duiwupindao_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{53,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{53,28}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
            <key>shijianpindao_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{55,28}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
            <key>shijieButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{50,18}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{50,18}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>shijieButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{52,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{52,20}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>shijie_12Button_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{50,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{50,18}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>shijie_12Button_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,62},{52,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{52,18}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>siliao_17Button_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,62},{50,16}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{50,16}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>siliao_17Button_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{50,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{50,20}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>siliaopindao_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,2},{53,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{53,28}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
            <key>xitongButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{50,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{50,18}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>xitongButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,82},{50,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{50,20}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>liaotian1.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40c39c0af7d25491e5b5fa7961c1e76b:87d9011eb8994cc227c4928decafd3d2:5013e563e38c1a4aa1eea464d27b99e6$</string>
            <key>textureFileName</key>
            <string>liaotian1.png</string>
        </dict>
    </dict>
</plist>
