<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1haowei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,37},{102,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{102,33}}</string>
                <key>sourceSize</key>
                <string>{108,41}</string>
            </dict>
            <key>2haowei.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{102,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{102,33}}</string>
                <key>sourceSize</key>
                <string>{108,41}</string>
            </dict>
            <key>3haowei.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{102,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{102,33}}</string>
                <key>sourceSize</key>
                <string>{108,41}</string>
            </dict>
            <key>4haowei.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{102,33}}</string>
                <key>sourceSize</key>
                <string>{108,41}</string>
            </dict>
            <key>5haowei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{102,33}}</string>
                <key>sourceSize</key>
                <string>{108,41}</string>
            </dict>
            <key>chongwuhuanhuaButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,149},{50,16}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{50,16}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>chongwuhuanhuaButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,201},{50,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{50,18}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>chongwujinengButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,149},{50,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{50,18}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>chongwujinengButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,81},{52,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{52,20}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>chongwujinhuaButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,57},{50,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{50,18}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>chongwujinhuaButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,59},{52,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{52,20}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>chongwukaijiaButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,37},{96,18}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,18}}</string>
                <key>sourceSize</key>
                <string>{100,26}</string>
            </dict>
            <key>chongwukaijiaButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,37},{96,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{96,20}}</string>
                <key>sourceSize</key>
                <string>{100,26}</string>
            </dict>
            <key>chongwushengjiButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,57},{50,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{50,16}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>chongwushengjiButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,37},{52,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{52,20}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>jichushuxingButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,109},{48,18}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{48,18}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>jichushuxingButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,97},{50,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{50,20}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>pet_chengdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pet_chengdian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,359},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pet_chengdian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,357},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pet_chengdian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,331},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pet_chengdian4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pet_fagong.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,80},{21,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{21,15}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>pet_fangyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,61},{21,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{21,17}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>pet_fendian.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,299},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pet_fendian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,297},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pet_fendian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pet_fendian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,239},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pet_fendian4.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,327},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pet_hongdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,277},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pet_hongdian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,271},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pet_hongdian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,237},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pet_hongdian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,179},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pet_hongdian4.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,302},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pet_jindian.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,267},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pet_jindian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,217},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pet_jindian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,211},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pet_jindian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,177},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pet_jindian4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pet_landian.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,119},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pet_landian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pet_landian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pet_landian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,117},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pet_landian4.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,59},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pet_lvdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,242},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pet_lvdian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,207},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pet_lvdian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,157},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pet_lvdian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,182},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pet_lvdian4.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,122},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pet_qixue.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,42},{21,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{21,17}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>pet_sudu.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{21,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{21,19}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>pet_wugong.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,23},{21,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{21,17}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>pet_zidian.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,97},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pet_zidian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,57},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pet_zidian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,62},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pet_zidian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,37},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pet_zidian4.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pinzhi1_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,414},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>pinzhi1_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,439},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>pinzhi1_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,387},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>pinzhi2_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,414},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>pinzhi2_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,414},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>pinzhi3_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,362},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>pinzhi3_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,362},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>pinzhi4_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,337},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>pinzhi4_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,417},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>pinzhi5_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,419},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>pinzhi5_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,432},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>pinzhi6_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>pinzhi6_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,159},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>pinzhi7_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,155},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>pinzhi7_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,103},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>zhanwei_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,156},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zhanwei_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,114},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zhanwei_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,72},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zhanwei_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,295},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zhanwei_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,253},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pet.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9627e6bf0cbeee7208ec5635b62279d:f35d019391468cc8cef03f0e6bd5ed4a:c587330c4a48b4a3249f3ebb5c0e8bd8$</string>
            <key>textureFileName</key>
            <string>pet.png</string>
        </dict>
    </dict>
</plist>
