<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>petFrame2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{70,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>pet_wugong.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{21,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{21,17}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>petcellButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{230,80}}</string>
                <key>sourceSize</key>
                <string>{232,84}</string>
            </dict>
            <key>petcellButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{228,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{228,80}}</string>
                <key>sourceSize</key>
                <string>{232,84}</string>
            </dict>
            <key>star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,84},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{21,21}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>star_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,166},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pet_cell.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:daf42c07e590bd3818825fd59fba8fe3:28e30eab84dd7ebd15b776effa06bba5:d1c02c6fe4a8af6a0d233bac884542f8$</string>
            <key>textureFileName</key>
            <string>pet_cell.png</string>
        </dict>
    </dict>
</plist>
