<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chongwushuxing_artFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,46},{181,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{181,20}}</string>
                <key>sourceSize</key>
                <string>{181,24}</string>
            </dict>
            <key>chuzhan_subButtonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,212},{60,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{60,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>gaiming_anjian_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,194},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>gaiming_anjian_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,152},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>huanhuamubiao_artFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,24},{181,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{181,20}}</string>
                <key>sourceSize</key>
                <string>{181,24}</string>
            </dict>
            <key>look_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,110},{42,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{42,40}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>look_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,68},{42,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{42,40}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>petFrame_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{317,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,239}}</string>
                <key>sourceSize</key>
                <string>{317,239}</string>
            </dict>
            <key>pet_Bkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,168},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pet_lvdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,230},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>petskill_art.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,2},{181,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{181,20}}</string>
                <key>sourceSize</key>
                <string>{181,24}</string>
            </dict>
            <key>skillFrame_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,140},{70,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>skillFrame_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,68},{70,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>skillFrame_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,68},{70,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>star_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,228},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>xiuxi_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,140},{62,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pet_state.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7901f7d2614885b33dcf004875747fbb:9060722f67cdae708f8e4727b60dea25:413cc3fafd51c03a78628cd3833296e0$</string>
            <key>textureFileName</key>
            <string>pet_state.png</string>
        </dict>
    </dict>
</plist>
