<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>biaoti_228.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,714},{228,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,30}}</string>
                <key>sourceSize</key>
                <string>{228,30}</string>
            </dict>
            <key>cancelButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,450},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{50,50}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>cancelButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,126},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{60,60}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>contentBkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,64},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>detailBkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>duabzao_diwen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{542,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{542,388}}</string>
                <key>sourceSize</key>
                <string>{542,388}</string>
            </dict>
            <key>fenge_xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,2},{2,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,30}}</string>
                <key>sourceSize</key>
                <string>{2,30}</string>
            </dict>
            <key>fontBkg_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{102,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
            <key>help_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,212},{38,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{38,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>help_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{48,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>hongsubButton_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,392},{150,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{150,56}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>hongsubButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,512},{150,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{150,56}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>hongsubButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,512},{150,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{150,56}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>inputFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,252},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{40,40}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>logBkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{404,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,208}}</string>
                <key>sourceSize</key>
                <string>{404,208}</string>
            </dict>
            <key>moji_diwen.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,403},{309,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,33}}</string>
                <key>sourceSize</key>
                <string>{309,33}</string>
            </dict>
            <key>objectFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,944},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{58,58}}</string>
                <key>sourceSize</key>
                <string>{78,68}</string>
            </dict>
            <key>objectFrame_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,654},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{58,58}}</string>
                <key>sourceSize</key>
                <string>{78,68}</string>
            </dict>
            <key>objectFrame_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,594},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{58,58}}</string>
                <key>sourceSize</key>
                <string>{78,68}</string>
            </dict>
            <key>ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,379},{34,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{34,22}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>popupBkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,212},{298,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,358}}</string>
                <key>sourceSize</key>
                <string>{298,358}</string>
            </dict>
            <key>shuzhi_diwenlan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,594},{89,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,17}}</string>
                <key>sourceSize</key>
                <string>{89,17}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,664},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>subButton_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,392},{150,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{150,56}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>subButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{150,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{150,56}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>subButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{150,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{150,56}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>tbaoIcon_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,664},{24,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{24,24}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>tishi_logBkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{250,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,129}}</string>
                <key>sourceSize</key>
                <string>{250,129}</string>
            </dict>
            <key>titleBkg_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,188},{404,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,58}}</string>
                <key>sourceSize</key>
                <string>{404,58}</string>
            </dict>
            <key>zhandouli_labelfont.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,294},{83,39}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,39}}</string>
                <key>sourceSize</key>
                <string>{87,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>share.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50a56beba72281013476749d28f5ff8e:e1304d85412e04b405c7e619b92bde2f:953d3665f264cda36fcc0ed6233f063a$</string>
            <key>textureFileName</key>
            <string>share.png</string>
        </dict>
    </dict>
</plist>
