<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jieshaoButton_norl.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,100},{50,18}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{50,18}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>jieshaoButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,78},{50,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{50,20}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>jiluButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,100},{50,18}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{50,18}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>jiluButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,78},{52,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{52,20}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>shenqixinxiButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{100,18}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{100,18}}</string>
                <key>sourceSize</key>
                <string>{100,26}</string>
            </dict>
            <key>shenqixinxiButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{100,20}}</string>
                <key>sourceSize</key>
                <string>{100,26}</string>
            </dict>
            <key>yingxiongbangButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{74,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{74,18}}</string>
                <key>sourceSize</key>
                <string>{76,26}</string>
            </dict>
            <key>yingxiongbangButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{74,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{74,20}}</string>
                <key>sourceSize</key>
                <string>{76,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shenqi.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:691e0af3fc5cb826acf679a404486051:e7d1b5e521f165401a7e13b3b9885494:3cebdf55c95779e7fe60044cc2959718$</string>
            <key>textureFileName</key>
            <string>shenqi.png</string>
        </dict>
    </dict>
</plist>
