<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anjian_Menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,86},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>anjiantiao_Menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{412,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,31}}</string>
                <key>sourceSize</key>
                <string>{412,31}</string>
            </dict>
            <key>baocunshezhi_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,124},{97,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{97,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
            <key>huifumoren_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{99,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
            <key>lianxiwomen_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{97,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{97,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
            <key>xitongshezhi_titleFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,86},{136,27}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{136,27}}</string>
                <key>sourceSize</key>
                <string>{144,37}</string>
            </dict>
            <key>yonghuzhongxin_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{97,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{97,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shezhi_xitongshezhi.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a153087bcbbecb4358181d627bf2946:fe4be3f642232e5d5cdb60b00aefe1e3:38479f4527722cd5d66a39131fd9db45$</string>
            <key>textureFileName</key>
            <string>shezhi_xitongshezhi.png</string>
        </dict>
    </dict>
</plist>
