<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chenghao_skill.ccb</key>
	<string>新增ccb文件</string>
	<key>chenghao_skill.ccb新增的资源文件</key>
	<array>
		<string>cancelButton_nor.png</string>
		<string>diaoyu_xian.png</string>
		<string>cancelButton_sel.png</string>
		<string>popupBkg.png</string>
		<string>zhandouli_labelfont.png</string>
		<string>moji_diwen.png</string>
		<string>petFrame_di.png</string>
	</array>
	<key>duanzao_xilian.ccb</key>
	<string>新增ccb文件</string>
	<key>duanzao_xilian.ccb新增的资源文件</key>
	<array>
		<string>shengji_jiantou.png</string>
		<string>shuzhi_diwenlan.png</string>
		<string>lianhuashi02_Font.png</string>
		<string>inputFrame.png</string>
		<string>ok.png</string>
		<string>tbaoIcon_nor.png</string>
		<string>fangjian_dikuang.png</string>
		<string>zhuangbei01_Font.png</string>
		<string>suoxucailiao_artFont.png</string>
		<string>shengshuijing07_Font.png</string>
		<string>help_sel.png</string>
		<string>hongsubButton_sel.png</string>
		<string>duabzao_diwen.png</string>
		<string>contentBkg.png</string>
		<string>huang_xian.png</string>
		<string>yulan_jiaobiao.png</string>
		<string>fontBkg_sel.png</string>
		<string>xilian_baizi.png</string>
		<string>hongsubButton_nor.png</string>
		<string>help_nor.png</string>
		<string>objectFrame.png</string>
		<string>duanzao_wupingkuang.png</string>
		<string>zhuangbeiqianghua_Font.png</string>
		<string>hongsubButton_hui.png</string>
	</array>
	<key>juese_di.ccb</key>
	<string>新增ccb文件</string>
	<key>juese_di.ccb新增的资源文件</key>
	<array>
		<string>cancelButton_nor.png</string>
		<string>zhengrong_jiantou1.png</string>
		<string>heroBkg.png</string>
		<string>cancelButton_sel.png</string>
		<string>duifangzhenrong_font.png</string>
		<string>titleBkg_top.png</string>
		<string>detailBkg.png</string>
		<string>shuzhi_diwenlan.png</string>
		<string>logBkg.png</string>
		<string>zhengrong_jiantou2.png</string>
	</array>
	<key>juese_kuang.ccb</key>
	<string>新增ccb文件</string>
	<key>juese_kuang.ccb新增的资源文件</key>
	<array>
		<string>objectFrame.png</string>
		<string>lvse_kung.png</string>
		<string>zhengrong_guangbiao.png</string>
		<string>zhengrong_dikuang.png</string>
	</array>
	<key>juese_pet.ccb</key>
	<string>新增ccb文件</string>
	<key>juese_pet.ccb新增的资源文件</key>
	<array>
		<string>star_gray.png</string>
		<string>chongkai2.png</string>
		<string>zhandouli_labelfont.png</string>
		<string>objectFrame.png</string>
		<string>star.png</string>
		<string>chongkai4.png</string>
		<string>chongkai1.png</string>
		<string>lvse_kung.png</string>
		<string>fontBkg_sel.png</string>
		<string>chongkai3.png</string>
		<string>moji_diwen.png</string>
		<string>pet_lvdian.png</string>
	</array>
	<key>juese_renwu.ccb</key>
	<string>新增ccb文件</string>
	<key>juese_renwu.ccb新增的资源文件</key>
	<array>
		<string>xiezi_8.png</string>
		<string>yifu_5.png</string>
		<string>huwan_6.png</string>
		<string>toukui_2.png</string>
		<string>yaodai_4.png</string>
		<string>wuqi_1.png</string>
		<string>moji_diwen.png</string>
		<string>zhandouli_labelfont.png</string>
		<string>xianglian_3.png</string>
		<string>objectFrame.png</string>
		<string>jiezhi_7.png</string>
	</array>
	<key>mainScreen960.ccb删除的资源文件</key>
	<array>
		<string>headFrame.png</string>
		<string>hp.png</string>
	</array>
	<key>mainScreen960.ccb新增的资源文件</key>
	<array>
		<string>numback.png</string>
		<string>petheadcell.png</string>
		<string>heroheadcell.png</string>
		<string>fightpowernum.png</string>
	</array>
	<key>shenqi_skill.ccb</key>
	<string>新增ccb文件</string>
	<key>shenqi_skill.ccb新增的资源文件</key>
	<array>
		<string>cancelButton_nor.png</string>
		<string>diaoyu_xian.png</string>
		<string>cancelButton_sel.png</string>
		<string>popupBkg.png</string>
		<string>zhandouli_labelfont.png</string>
		<string>moji_diwen.png</string>
		<string>petFrame_di.png</string>
	</array>
	<key>tishiScreen2_960.ccb</key>
	<string>新增ccb文件</string>
	<key>tishiScreen2_960.ccb新增的资源文件</key>
	<array>
		<string>hongsubButton_hui.png</string>
		<string>subButton_nor.png</string>
		<string>cancelButton_sel.png</string>
		<string>hongsubButton_nor.png</string>
		<string>quxiao_baizi.png</string>
		<string>cancelButton_nor.png</string>
		<string>confirm_buttonFont.png</string>
		<string>detailBkg.png</string>
		<string>tishi_titleFont.png</string>
		<string>hongsubButton_sel.png</string>
		<string>subButton_sel.png</string>
		<string>tishi_logBkg.png</string>
		<string>titleBkg_top.png</string>
	</array>
	<key>tishiScreen_convoy1.ccb</key>
	<string>新增ccb文件</string>
	<key>tishiScreen_convoy1.ccb新增的资源文件</key>
	<array>
		<string>shoudongyunbiao_font.png</string>
		<string>subButton_nor.png</string>
		<string>subButton_hui.png</string>
		<string>zidongyunbiao_font.png</string>
		<string>cancelButton_sel.png</string>
		<string>hongsubButton_nor.png</string>
		<string>cancelButton_nor.png</string>
		<string>detailBkg.png</string>
		<string>tishi_titleFont.png</string>
		<string>jixunyunbiao_font.png</string>
		<string>hongsubButton_sel.png</string>
		<string>subButton_sel.png</string>
		<string>tishi_logBkg.png</string>
		<string>titleBkg_top.png</string>
	</array>
</dict>
</plist>
