<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>107x40_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,403},{107,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{107,40}}</string>
                <key>sourceSize</key>
                <string>{125,58}</string>
            </dict>
            <key>107x40_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,276},{125,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,58}}</string>
                <key>sourceSize</key>
                <string>{125,58}</string>
            </dict>
            <key>bangding_roundButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,201},{52,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{52,58}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>chongwu_subButtonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,274},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>confirm_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,338},{62,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>diuqi_roundButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{54,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{54,64}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>duanzao_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,246},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>fangru_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,274},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>goumai_baizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,445},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>hecheng_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,381},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>hongsubButton2_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,274},{105,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{105,40}}</string>
                <key>sourceSize</key>
                <string>{105,42}</string>
            </dict>
            <key>hongsubButton2_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,381},{105,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{105,40}}</string>
                <key>sourceSize</key>
                <string>{105,42}</string>
            </dict>
            <key>hongsubButton_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{150,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{150,56}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>hongsubButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{150,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{150,56}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>hongsubButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{150,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{150,56}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>huangsubButton2_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,274},{105,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{105,40}}</string>
                <key>sourceSize</key>
                <string>{105,42}</string>
            </dict>
            <key>huangsubButton2_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,139},{105,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{105,40}}</string>
                <key>sourceSize</key>
                <string>{105,42}</string>
            </dict>
            <key>jiasuo_roundButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,443},{52,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{52,62}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>jiesuo_roundButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,139},{54,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{54,60}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>jilu_subButtonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,445},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>learn_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,381},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>lingqu_baizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{64,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{64,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>quxiao_baizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,60},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>shiyong_subButtonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,60},{62,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>shouchu_baizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,60},{62,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>subButton1_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,139},{135,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{135,52}}</string>
                <key>sourceSize</key>
                <string>{135,54}</string>
            </dict>
            <key>subButton1_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{135,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{135,52}}</string>
                <key>sourceSize</key>
                <string>{135,54}</string>
            </dict>
            <key>subButton2_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,139},{105,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{105,40}}</string>
                <key>sourceSize</key>
                <string>{105,42}</string>
            </dict>
            <key>subButton2_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,139},{105,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{105,40}}</string>
                <key>sourceSize</key>
                <string>{105,42}</string>
            </dict>
            <key>subButton_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{150,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{150,56}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>subButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{150,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{150,56}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>subButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{150,56}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>tianjiafujian_baizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,246},{99,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{99,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
            <key>xiexia_baizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,60},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>xiuli_baizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,60},{64,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{64,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>zhanshi_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,274},{62,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{62,24}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>zhanxian_baizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,60},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>zhuangbei_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,60},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>button.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02eadfeb5e7ba13497f06a22bb8477e1:37a1a4100e7285374106cc9e4ad63a36:1854a1d167269096d09aabff2abc0569$</string>
            <key>textureFileName</key>
            <string>button.png</string>
        </dict>
    </dict>
</plist>
