<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chenghao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,663},{120,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{120,36}}</string>
                <key>sourceSize</key>
                <string>{128,40}</string>
            </dict>
            <key>chenghao10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,621},{120,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{120,38}}</string>
                <key>sourceSize</key>
                <string>{128,40}</string>
            </dict>
            <key>chenghao11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,459},{120,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{120,40}}</string>
                <key>sourceSize</key>
                <string>{128,40}</string>
            </dict>
            <key>chenghao12.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,585},{120,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{120,38}}</string>
                <key>sourceSize</key>
                <string>{128,40}</string>
            </dict>
            <key>chenghao13.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,701},{104,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{104,34}}</string>
                <key>sourceSize</key>
                <string>{128,40}</string>
            </dict>
            <key>chenghao14.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,784},{104,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{104,34}}</string>
                <key>sourceSize</key>
                <string>{128,40}</string>
            </dict>
            <key>chenghao15.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,779},{104,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{104,34}}</string>
                <key>sourceSize</key>
                <string>{128,40}</string>
            </dict>
            <key>chenghao16.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,748},{104,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{104,34}}</string>
                <key>sourceSize</key>
                <string>{128,40}</string>
            </dict>
            <key>chenghao17.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,743},{104,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{104,34}}</string>
                <key>sourceSize</key>
                <string>{128,40}</string>
            </dict>
            <key>chenghao18.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,712},{104,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{104,34}}</string>
                <key>sourceSize</key>
                <string>{128,40}</string>
            </dict>
            <key>chenghao19.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,707},{104,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{104,34}}</string>
                <key>sourceSize</key>
                <string>{128,40}</string>
            </dict>
            <key>chenghao1_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,506},{81,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{81,18}}</string>
                <key>sourceSize</key>
                <string>{83,18}</string>
            </dict>
            <key>chenghao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,661},{120,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{120,36}}</string>
                <key>sourceSize</key>
                <string>{128,40}</string>
            </dict>
            <key>chenghao20.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,671},{104,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{104,34}}</string>
                <key>sourceSize</key>
                <string>{128,40}</string>
            </dict>
            <key>chenghao21.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,769},{90,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{90,30}}</string>
                <key>sourceSize</key>
                <string>{128,40}</string>
            </dict>
            <key>chenghao22.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,737},{90,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,5},{90,30}}</string>
                <key>sourceSize</key>
                <string>{128,40}</string>
            </dict>
            <key>chenghao23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{90,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{90,30}}</string>
                <key>sourceSize</key>
                <string>{128,40}</string>
            </dict>
            <key>chenghao24.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,737},{90,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{90,30}}</string>
                <key>sourceSize</key>
                <string>{128,40}</string>
            </dict>
            <key>chenghao25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{90,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{90,30}}</string>
                <key>sourceSize</key>
                <string>{128,40}</string>
            </dict>
            <key>chenghao26.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{90,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,5},{90,30}}</string>
                <key>sourceSize</key>
                <string>{128,40}</string>
            </dict>
            <key>chenghao27.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,682},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{100,40}}</string>
                <key>sourceSize</key>
                <string>{128,40}</string>
            </dict>
            <key>chenghao28.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,670},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{100,40}}</string>
                <key>sourceSize</key>
                <string>{128,40}</string>
            </dict>
            <key>chenghao29.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,628},{102,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{102,40}}</string>
                <key>sourceSize</key>
                <string>{128,40}</string>
            </dict>
            <key>chenghao2_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,408},{83,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,18}}</string>
                <key>sourceSize</key>
                <string>{83,18}</string>
            </dict>
            <key>chenghao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,625},{120,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{120,36}}</string>
                <key>sourceSize</key>
                <string>{128,40}</string>
            </dict>
            <key>chenghao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,542},{120,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{120,38}}</string>
                <key>sourceSize</key>
                <string>{128,40}</string>
            </dict>
            <key>chenghao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,581},{120,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{120,38}}</string>
                <key>sourceSize</key>
                <string>{128,40}</string>
            </dict>
            <key>chenghao6.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,545},{120,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{120,38}}</string>
                <key>sourceSize</key>
                <string>{128,40}</string>
            </dict>
            <key>chenghao7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,541},{120,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{120,38}}</string>
                <key>sourceSize</key>
                <string>{128,40}</string>
            </dict>
            <key>chenghao8.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,505},{120,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{120,38}}</string>
                <key>sourceSize</key>
                <string>{128,40}</string>
            </dict>
            <key>chenghao9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,501},{120,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{120,38}}</string>
                <key>sourceSize</key>
                <string>{128,40}</string>
            </dict>
            <key>chenghao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,85},{234,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,81}}</string>
                <key>sourceSize</key>
                <string>{234,81}</string>
            </dict>
            <key>chenghao_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,570},{110,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{110,48}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>chenghao_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{165,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{165,39}}</string>
                <key>sourceSize</key>
                <string>{165,47}</string>
            </dict>
            <key>chenghao_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,217},{165,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,48}}</string>
                <key>sourceSize</key>
                <string>{165,52}</string>
            </dict>
            <key>chenghao_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,326},{154,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{154,33}}</string>
                <key>sourceSize</key>
                <string>{154,39}</string>
            </dict>
            <key>chenghao_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,418},{121,35}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{121,35}}</string>
                <key>sourceSize</key>
                <string>{121,39}</string>
            </dict>
            <key>chenghao_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,373},{125,43}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{125,43}}</string>
                <key>sourceSize</key>
                <string>{133,45}</string>
            </dict>
            <key>chenghao_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{150,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{150,43}}</string>
                <key>sourceSize</key>
                <string>{150,45}</string>
            </dict>
            <key>chenghao_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,361},{150,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,45}}</string>
                <key>sourceSize</key>
                <string>{150,45}</string>
            </dict>
            <key>chenghao_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,506},{120,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,50}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>chenghao_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,408},{140,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{140,48}}</string>
                <key>sourceSize</key>
                <string>{142,48}</string>
            </dict>
            <key>chenghao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{236,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,81}}</string>
                <key>sourceSize</key>
                <string>{236,81}</string>
            </dict>
            <key>chenghao_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{228,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,77}}</string>
                <key>sourceSize</key>
                <string>{228,77}</string>
            </dict>
            <key>chenghao_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,94},{121,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{121,34}}</string>
                <key>sourceSize</key>
                <string>{121,38}</string>
            </dict>
            <key>chenghao_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,699},{120,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{120,35}}</string>
                <key>sourceSize</key>
                <string>{120,37}</string>
            </dict>
            <key>chenghao_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,458},{120,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,45}}</string>
                <key>sourceSize</key>
                <string>{120,45}</string>
            </dict>
            <key>chenghao_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,326},{130,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,45}}</string>
                <key>sourceSize</key>
                <string>{130,45}</string>
            </dict>
            <key>chenghao_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,490},{120,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,50}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>chenghao_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,582},{116,40}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{116,40}}</string>
                <key>sourceSize</key>
                <string>{120,40}</string>
            </dict>
            <key>chenghao_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,458},{110,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{110,48}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>chenghao_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,384},{120,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,50}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>chenghao_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{120,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,45}}</string>
                <key>sourceSize</key>
                <string>{120,45}</string>
            </dict>
            <key>chenghao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{236,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,81}}</string>
                <key>sourceSize</key>
                <string>{236,81}</string>
            </dict>
            <key>chenghao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,81}}</string>
                <key>sourceSize</key>
                <string>{236,81}</string>
            </dict>
            <key>chenghao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,247},{213,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{213,77}}</string>
                <key>sourceSize</key>
                <string>{217,77}</string>
            </dict>
            <key>chenghao_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,168},{228,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,77}}</string>
                <key>sourceSize</key>
                <string>{228,77}</string>
            </dict>
            <key>chenghao_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{228,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,77}}</string>
                <key>sourceSize</key>
                <string>{228,77}</string>
            </dict>
            <key>chenghao_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,455},{121,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{121,33}}</string>
                <key>sourceSize</key>
                <string>{121,39}</string>
            </dict>
            <key>chenghao_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,624},{110,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{110,45}}</string>
                <key>sourceSize</key>
                <string>{130,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chenghao.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b17e5123a508a525b38839849c585ca2:15d279c5ebf82833c736fc06c3b075c6:bfba6dda0d7bfc3d336f6df973cc3a43$</string>
            <key>textureFileName</key>
            <string>chenghao.png</string>
        </dict>
    </dict>
</plist>
