<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bangding_roundButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,266},{52,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{52,58}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>bangding_roundButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{60,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{60,62}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>chongwu_subButtonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,238},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>confirm_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,234},{62,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>diuqi_roundButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,168},{54,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{54,64}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>diuqi_roundButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,260},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{60,64}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>duanzao_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>fangru_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,230},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>goumai_baizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,230},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>hecheng_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,210},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>hongsubButton2_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{105,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{105,40}}</string>
                <key>sourceSize</key>
                <string>{105,42}</string>
            </dict>
            <key>hongsubButton2_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,160},{105,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{105,40}}</string>
                <key>sourceSize</key>
                <string>{105,42}</string>
            </dict>
            <key>hongsubButton_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,60},{150,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{150,56}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>hongsubButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{150,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{150,56}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>hongsubButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{150,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{150,56}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>huangsubButton2_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{105,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{105,40}}</string>
                <key>sourceSize</key>
                <string>{105,42}</string>
            </dict>
            <key>huangsubButton2_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,168},{105,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{105,40}}</string>
                <key>sourceSize</key>
                <string>{105,42}</string>
            </dict>
            <key>jiasuo_roundButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{52,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{52,62}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>jiasuo_roundButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,258},{60,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{60,62}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>jiesuo_roundButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,258},{54,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{54,60}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>jiesuo_roundButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,262},{60,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{60,62}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>jilu_subButtonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,202},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>learn_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,174},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>lingqu_baizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,94},{64,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{64,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>quxiao_baizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,206},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>shiyong_subButtonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,178},{62,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>shouchu_baizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,146},{62,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>subButton1_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,114},{135,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{135,52}}</string>
                <key>sourceSize</key>
                <string>{135,54}</string>
            </dict>
            <key>subButton1_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,60},{135,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{135,52}}</string>
                <key>sourceSize</key>
                <string>{135,54}</string>
            </dict>
            <key>subButton2_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,118},{105,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{105,40}}</string>
                <key>sourceSize</key>
                <string>{105,42}</string>
            </dict>
            <key>subButton2_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{105,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{105,40}}</string>
                <key>sourceSize</key>
                <string>{105,42}</string>
            </dict>
            <key>subButton_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,60},{150,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{150,56}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>subButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{150,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{150,56}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>subButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{150,56}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>tianjiafujian_baizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,202},{99,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{99,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
            <key>xiexia_baizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,118},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>xiuli_baizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,66},{64,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{64,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>zhanshi_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,234},{62,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{62,24}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>zhanxian_baizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,150},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>zhuangbei_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,122},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cm_button.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fea5ad3781298fc15fe4603cccb2a550:00a51d31445a3e9da9a63a31d6909804:2b1937f512b419b4d4bb6aac6ede92a4$</string>
            <key>textureFileName</key>
            <string>cm_button.png</string>
        </dict>
    </dict>
</plist>
