<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>husong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,82},{41,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{41,46}}</string>
                <key>sourceSize</key>
                <string>{51,58}</string>
            </dict>
            <key>husong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,82},{45,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{45,50}}</string>
                <key>sourceSize</key>
                <string>{51,58}</string>
            </dict>
            <key>husong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,58},{45,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{45,50}}</string>
                <key>sourceSize</key>
                <string>{51,58}</string>
            </dict>
            <key>husong_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,30},{45,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{45,50}}</string>
                <key>sourceSize</key>
                <string>{51,58}</string>
            </dict>
            <key>husong_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{49,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{49,54}}</string>
                <key>sourceSize</key>
                <string>{51,58}</string>
            </dict>
            <key>husong_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{49,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{49,54}}</string>
                <key>sourceSize</key>
                <string>{51,58}</string>
            </dict>
            <key>kaishihusong_Font.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,2},{97,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{97,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
            <key>xunluqianwang_Font.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{97,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{97,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
            <key>yabiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,82},{41,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{41,46}}</string>
                <key>sourceSize</key>
                <string>{51,58}</string>
            </dict>
            <key>yabiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,30},{45,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{45,50}}</string>
                <key>sourceSize</key>
                <string>{51,58}</string>
            </dict>
            <key>yabiao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,30},{45,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{45,50}}</string>
                <key>sourceSize</key>
                <string>{51,58}</string>
            </dict>
            <key>yabiao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{49,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{49,54}}</string>
                <key>sourceSize</key>
                <string>{51,58}</string>
            </dict>
            <key>yabiao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{49,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{49,54}}</string>
                <key>sourceSize</key>
                <string>{51,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cm_husong.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:200a495c3d2913389f26d138d63f1b2a:e624f66d7812522cf91f0ef0dc29bdd6:19317879fafd7e4c61b498b5abc9a5bd$</string>
            <key>textureFileName</key>
            <string>cm_husong.png</string>
        </dict>
    </dict>
</plist>
