<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiluButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,24},{50,18}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{50,18}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>jiluButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{52,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{52,20}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>jingjishangdianButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{100,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{100,18}}</string>
                <key>sourceSize</key>
                <string>{100,26}</string>
            </dict>
            <key>jingjishangdianButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{100,20}}</string>
                <key>sourceSize</key>
                <string>{100,26}</string>
            </dict>
            <key>paimingzhan01_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,44},{74,18}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{74,18}}</string>
                <key>sourceSize</key>
                <string>{100,26}</string>
            </dict>
            <key>paimingzhan01_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{76,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{76,20}}</string>
                <key>sourceSize</key>
                <string>{100,26}</string>
            </dict>
            <key>yingxiongbangButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{74,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{74,18}}</string>
                <key>sourceSize</key>
                <string>{76,26}</string>
            </dict>
            <key>yingxiongbangButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,24},{74,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{74,20}}</string>
                <key>sourceSize</key>
                <string>{76,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cm_jingji_font.png</string>
            <key>size</key>
            <string>{256,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e90319baf535d233f00b11bd7b446419:39382405b466e89228d6ad444c863533:9190a4f9c5cb7957c975a8c21119f160$</string>
            <key>textureFileName</key>
            <string>cm_jingji_font.png</string>
        </dict>
    </dict>
</plist>
