<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1-8_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,812},{51,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,17}}</string>
                <key>sourceSize</key>
                <string>{51,17}</string>
            </dict>
            <key>1-8_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,793},{51,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,17}}</string>
                <key>sourceSize</key>
                <string>{51,17}</string>
            </dict>
            <key>107_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,450},{138,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,42}}</string>
                <key>sourceSize</key>
                <string>{138,42}</string>
            </dict>
            <key>107_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,406},{138,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,42}}</string>
                <key>sourceSize</key>
                <string>{138,42}</string>
            </dict>
            <key>107x40_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,364},{107,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{107,40}}</string>
                <key>sourceSize</key>
                <string>{125,58}</string>
            </dict>
            <key>107x40_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,195},{125,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,58}}</string>
                <key>sourceSize</key>
                <string>{125,58}</string>
            </dict>
            <key>137_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,151},{163,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,42}}</string>
                <key>sourceSize</key>
                <string>{163,42}</string>
            </dict>
            <key>137_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,566},{163,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,42}}</string>
                <key>sourceSize</key>
                <string>{163,42}</string>
            </dict>
            <key>78_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,494},{103,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,42}}</string>
                <key>sourceSize</key>
                <string>{103,42}</string>
            </dict>
            <key>78_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,566},{103,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,42}}</string>
                <key>sourceSize</key>
                <string>{103,42}</string>
            </dict>
            <key>9-16_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,811},{62,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,17}}</string>
                <key>sourceSize</key>
                <string>{62,17}</string>
            </dict>
            <key>9-16_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,792},{62,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,17}}</string>
                <key>sourceSize</key>
                <string>{62,17}</string>
            </dict>
            <key>anjian01_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,771},{72,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,27}}</string>
                <key>sourceSize</key>
                <string>{72,27}</string>
            </dict>
            <key>anjian01_sel.hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,795},{72,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,27}}</string>
                <key>sourceSize</key>
                <string>{72,27}</string>
            </dict>
            <key>anjian01_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,581},{72,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,27}}</string>
                <key>sourceSize</key>
                <string>{72,27}</string>
            </dict>
            <key>baisezi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,70},{12,12}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{12,12}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>baisezi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,831},{8,12}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{8,12}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>baisezi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,746},{10,12}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{10,12}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>baisezi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,749},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{10,12}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>baisezi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,56},{12,12}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{12,12}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>baisezi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,703},{10,12}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{10,12}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>baisezi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,610},{10,12}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{10,12}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>baisezi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,610},{10,12}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{10,12}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>baisezi_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,730},{10,12}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{10,12}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>baisezi_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,716},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{10,12}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>baisezi_i.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,719},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{8,12}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>biaoti_228.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,452},{228,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,30}}</string>
                <key>sourceSize</key>
                <string>{228,30}</string>
            </dict>
            <key>cike_mane.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,672},{29,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{29,42}}</string>
                <key>sourceSize</key>
                <string>{29,92}</string>
            </dict>
            <key>cike_shuoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,626},{51,127}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{51,127}}</string>
                <key>sourceSize</key>
                <string>{51,213}</string>
            </dict>
            <key>ciketubiao_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,494},{70,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{70,70}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>ciketubiao_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,424},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>denglu01_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,29},{68,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,25}}</string>
                <key>sourceSize</key>
                <string>{68,25}</string>
            </dict>
            <key>denglu01_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,2},{68,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,25}}</string>
                <key>sourceSize</key>
                <string>{68,25}</string>
            </dict>
            <key>denglu1_hiuxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1020},{70,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,2}}</string>
                <key>sourceSize</key>
                <string>{70,2}</string>
            </dict>
            <key>denglu_ditukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{459,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,236}}</string>
                <key>sourceSize</key>
                <string>{459,236}</string>
            </dict>
            <key>denglu_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,538},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>denglu_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,610},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>denglu_shang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,255}}</string>
                <key>sourceSize</key>
                <string>{800,255}</string>
            </dict>
            <key>denglu_xia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,864},{800,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,106}}</string>
                <key>sourceSize</key>
                <string>{800,106}</string>
            </dict>
            <key>fashi_mane.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,628},{29,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{29,42}}</string>
                <key>sourceSize</key>
                <string>{29,92}</string>
            </dict>
            <key>fashi_shuoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,626},{51,127}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{51,127}}</string>
                <key>sourceSize</key>
                <string>{51,213}</string>
            </dict>
            <key>fashitubiao_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,716},{74,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{74,74}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>fashitubiao_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,631},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>fenge_xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,255},{2,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,30}}</string>
                <key>sourceSize</key>
                <string>{2,30}</string>
            </dict>
            <key>fuwuqi_ditukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{566,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,365}}</string>
                <key>sourceSize</key>
                <string>{566,365}</string>
            </dict>
            <key>gonggao_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,102},{54,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,44}}</string>
                <key>sourceSize</key>
                <string>{54,44}</string>
            </dict>
            <key>gonggao_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,56},{54,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,44}}</string>
                <key>sourceSize</key>
                <string>{54,44}</string>
            </dict>
            <key>guanbi_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,938},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>guanbi_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,938},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>huode_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,610},{71,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,16}}</string>
                <key>sourceSize</key>
                <string>{71,16}</string>
            </dict>
            <key>huode_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,824},{71,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,16}}</string>
                <key>sourceSize</key>
                <string>{71,16}</string>
            </dict>
            <key>jiangli_titleFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,854},{66,27}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{66,27}}</string>
                <key>sourceSize</key>
                <string>{72,37}</string>
            </dict>
            <key>jinru_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,749},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>jinru_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,288},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>juese_pingtan.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,259},{244,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,145}}</string>
                <key>sourceSize</key>
                <string>{244,145}</string>
            </dict>
            <key>like_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,719},{144,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,25}}</string>
                <key>sourceSize</key>
                <string>{144,25}</string>
            </dict>
            <key>like_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,972},{144,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,25}}</string>
                <key>sourceSize</key>
                <string>{144,25}</string>
            </dict>
            <key>mima_denglu.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,753},{41,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,21}}</string>
                <key>sourceSize</key>
                <string>{41,21}</string>
            </dict>
            <key>pet_shuxindiantiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,842},{150,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,17}}</string>
                <key>sourceSize</key>
                <string>{150,17}</string>
            </dict>
            <key>shangcidenglu_dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,716},{36,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>shoujihao_denglu.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,854},{61,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,22}}</string>
                <key>sourceSize</key>
                <string>{61,22}</string>
            </dict>
            <key>shurukuang_115.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,406},{221,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,44}}</string>
                <key>sourceSize</key>
                <string>{221,44}</string>
            </dict>
            <key>shurukuang_118.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,703},{118,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,44}}</string>
                <key>sourceSize</key>
                <string>{118,44}</string>
            </dict>
            <key>shurukuang_181.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,484},{181,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,46}}</string>
                <key>sourceSize</key>
                <string>{181,46}</string>
            </dict>
            <key>shurukuang_190.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,532},{190,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,32}}</string>
                <key>sourceSize</key>
                <string>{190,32}</string>
            </dict>
            <key>shurukuang_356.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,972},{356,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,46}}</string>
                <key>sourceSize</key>
                <string>{356,46}</string>
            </dict>
            <key>shurukuang_356man.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,972},{356,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,46}}</string>
                <key>sourceSize</key>
                <string>{356,46}</string>
            </dict>
            <key>shuzhi_diwenlan.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,405},{89,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,17}}</string>
                <key>sourceSize</key>
                <string>{89,17}</string>
            </dict>
            <key>tishi_titleFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,883},{66,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{66,26}}</string>
                <key>sourceSize</key>
                <string>{72,36}</string>
            </dict>
            <key>tiujian_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,898},{44,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,18}}</string>
                <key>sourceSize</key>
                <string>{44,18}</string>
            </dict>
            <key>tiujian_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,776},{44,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,18}}</string>
                <key>sourceSize</key>
                <string>{44,18}</string>
            </dict>
            <key>wangjimima_denglu.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,746},{132,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,23}}</string>
                <key>sourceSize</key>
                <string>{132,23}</string>
            </dict>
            <key>xiaogou.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,811},{23,23}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>xiaogoudikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,918},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>xiayibu.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,827},{73,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,25}}</string>
                <key>sourceSize</key>
                <string>{73,25}</string>
            </dict>
            <key>xiayibu_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,878},{56,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,18}}</string>
                <key>sourceSize</key>
                <string>{56,18}</string>
            </dict>
            <key>xiayibu_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,800},{73,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,25}}</string>
                <key>sourceSize</key>
                <string>{73,25}</string>
            </dict>
            <key>xuanqu_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,610},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>xuanqu_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,195},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>yanzhengma_denglu.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,830},{61,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,22}}</string>
                <key>sourceSize</key>
                <string>{61,22}</string>
            </dict>
            <key>yanzhengma_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,771},{94,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,22}}</string>
                <key>sourceSize</key>
                <string>{94,22}</string>
            </dict>
            <key>yanzhengma_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,381},{94,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,22}}</string>
                <key>sourceSize</key>
                <string>{94,22}</string>
            </dict>
            <key>yuanxin_huabian.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{148,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,147}}</string>
                <key>sourceSize</key>
                <string>{148,147}</string>
            </dict>
            <key>yuanxin_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,755},{108,107}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,21},{108,107}}</string>
                <key>sourceSize</key>
                <string>{148,147}</string>
            </dict>
            <key>yuanxin_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,255},{108,107}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,21},{108,107}}</string>
                <key>sourceSize</key>
                <string>{148,147}</string>
            </dict>
            <key>zhanghaodenglu_denglu.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,999},{133,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,23}}</string>
                <key>sourceSize</key>
                <string>{133,23}</string>
            </dict>
            <key>zhangshi_mane.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,148},{29,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{29,42}}</string>
                <key>sourceSize</key>
                <string>{29,92}</string>
            </dict>
            <key>zhanshi_shuoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,626},{51,165}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{51,165}}</string>
                <key>sourceSize</key>
                <string>{51,213}</string>
            </dict>
            <key>zhanshitubiao_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,508},{77,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{77,71}}</string>
                <key>sourceSize</key>
                <string>{87,83}</string>
            </dict>
            <key>zhanshitubiao_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,631},{87,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,83}}</string>
                <key>sourceSize</key>
                <string>{87,83}</string>
            </dict>
            <key>zhuanghao_denglu.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,831},{41,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,22}}</string>
                <key>sourceSize</key>
                <string>{41,22}</string>
            </dict>
            <key>zhuanghaozhuce_denglu.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,999},{133,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,23}}</string>
                <key>sourceSize</key>
                <string>{133,23}</string>
            </dict>
            <key>zhuce_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,972},{61,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,25}}</string>
                <key>sourceSize</key>
                <string>{61,25}</string>
            </dict>
            <key>zhuce_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,911},{61,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,25}}</string>
                <key>sourceSize</key>
                <string>{61,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cm_login.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a92b6baca386a40d36fea24b27a104ca:18f366e268f7c377a8c3f554b73dc4d5:71386092476c5190e11a6e5172aee50c$</string>
            <key>textureFileName</key>
            <string>cm_login.png</string>
        </dict>
    </dict>
</plist>
