<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bangpai_1Button_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{50,18}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{50,18}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>bangpai_1Button_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{50,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{50,20}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>bangpaipindao_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,32},{53,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{53,28}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
            <key>duiwuButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{50,16}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{50,16}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>duiwuButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,104},{50,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{50,20}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>duiwupindao_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{53,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{53,28}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
            <key>shijianpindao_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{55,28}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
            <key>shijieButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,146},{50,18}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{50,18}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>shijieButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{52,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{52,20}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>shijie_12Button_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{50,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{50,18}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>shijie_12Button_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,62},{52,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{52,18}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>siliao_17Button_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,166},{50,16}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{50,16}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>siliao_17Button_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{50,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{50,20}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>siliaopindao_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,2},{53,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{53,28}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
            <key>xitongButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,126},{50,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{50,18}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>xitongButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,82},{50,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{50,20}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cm_liaotian_font.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:851de8d80c9c35969c88311abe4b8b60:87d9011eb8994cc227c4928decafd3d2:245e5fc0644e8ea945d1bb8569c19181$</string>
            <key>textureFileName</key>
            <string>cm_liaotian_font.png</string>
        </dict>
    </dict>
</plist>
