<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fuqiButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,104},{50,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{50,18}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>fuqiButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{50,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{50,20}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>haoyouButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,84},{50,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{50,18}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>haoyouButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,42},{52,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{52,20}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>heimingdanButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,22},{73,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{73,18}}</string>
                <key>sourceSize</key>
                <string>{77,26}</string>
            </dict>
            <key>heimingdanButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{75,18}}</string>
                <key>sourceSize</key>
                <string>{77,26}</string>
            </dict>
            <key>shituButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,64},{50,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{50,18}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>shituButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{52,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{52,20}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>youjian_22Button_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{50,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{50,18}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>youjian_22Button_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{50,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{50,20}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cm_shejiao_font.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15aac8a24952b4a89fa35f0ad5583314:4a4a23e6e05a41c6b446b6e1bf92074b:4979ae400c2c752eb1d0f516b902c0fe$</string>
            <key>textureFileName</key>
            <string>cm_shejiao_font.png</string>
        </dict>
    </dict>
</plist>
