<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cike_yingzi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,374}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,16},{218,374}}</string>
                <key>sourceSize</key>
                <string>{320,390}</string>
            </dict>
            <key>cike_yinzi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,366},{286,362}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,28},{286,362}}</string>
                <key>sourceSize</key>
                <string>{320,390}</string>
            </dict>
            <key>fashi_yinzi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{298,370}}</string>
                <key>offset</key>
                <string>{11,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{298,370}}</string>
                <key>sourceSize</key>
                <string>{320,390}</string>
            </dict>
            <key>fashi_yinzi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,366},{272,360}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,30},{272,360}}</string>
                <key>sourceSize</key>
                <string>{320,390}</string>
            </dict>
            <key>zhanshi_yinzi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{232,366}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,24},{232,366}}</string>
                <key>sourceSize</key>
                <string>{320,390}</string>
            </dict>
            <key>zhanshi_yinzi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{304,362}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,28},{304,362}}</string>
                <key>sourceSize</key>
                <string>{320,390}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cm_yinzi.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68d6319c42ebd799ba73e8e80feb1553:abac39b964b27570fdd23ec37e39f220:1436f4aa452dd675d5363f3c9098318c$</string>
            <key>textureFileName</key>
            <string>cm_yinzi.png</string>
        </dict>
    </dict>
</plist>
