<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baise_kung.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{54,54}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{54,54}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>chongzhu_xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{153,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,3}}</string>
                <key>sourceSize</key>
                <string>{153,3}</string>
            </dict>
            <key>duanzao_wupingkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>shuzhichongzhu1_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{98,18}}</string>
                <key>sourceSize</key>
                <string>{100,24}</string>
            </dict>
            <key>shuzhichongzhu_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,157},{63,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{63,26}}</string>
                <key>sourceSize</key>
                <string>{69,28}</string>
            </dict>
            <key>wupiankuang_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,22},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>duanzao_mingwen4.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c26d6785cba9bc037a9340b244052b1:4bbfa7fd77ee442bbb48f41fa1c24c38:a600f69cdfcdaaed2fad1e4b59f46928$</string>
            <key>textureFileName</key>
            <string>duanzao_mingwen4.png</string>
        </dict>
    </dict>
</plist>
