<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lianhuashi_kuang_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{192,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,68}}</string>
                <key>sourceSize</key>
                <string>{192,68}</string>
            </dict>
            <key>lianhuashi_kuang_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,68}}</string>
                <key>sourceSize</key>
                <string>{192,68}</string>
            </dict>
            <key>wupin_kung.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>duanzao_lianhuashiliebiao1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d648bd60783716dd531bf3374b240d1:a66c6d555b872d9e0cb24f521fbcb057:4e8222fd7c76edf00b9bbe18803c54fb$</string>
            <key>textureFileName</key>
            <string>duanzao_lianhuashiliebiao1.png</string>
        </dict>
    </dict>
</plist>
