<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chongkai_fuben.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,534},{230,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,310}}</string>
                <key>sourceSize</key>
                <string>{230,310}</string>
            </dict>
            <key>chongkai_fuben1.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,694},{131,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{131,158}}</string>
                <key>sourceSize</key>
                <string>{135,166}</string>
            </dict>
            <key>chongwu_fuben.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,234},{230,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,310}}</string>
                <key>sourceSize</key>
                <string>{230,310}</string>
            </dict>
            <key>chongwu_fuben1.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,534},{131,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{131,158}}</string>
                <key>sourceSize</key>
                <string>{135,166}</string>
            </dict>
            <key>daoju_fuben.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,234},{230,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,310}}</string>
                <key>sourceSize</key>
                <string>{230,310}</string>
            </dict>
            <key>daoju_fuben1.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,846},{131,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{131,158}}</string>
                <key>sourceSize</key>
                <string>{135,166}</string>
            </dict>
            <key>jingyingfuben_5Button_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,960},{98,18}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{98,18}}</string>
                <key>sourceSize</key>
                <string>{100,26}</string>
            </dict>
            <key>jingyingfuben_5Button_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,938},{100,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{100,20}}</string>
                <key>sourceSize</key>
                <string>{100,26}</string>
            </dict>
            <key>jinqian_fuben.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{230,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,310}}</string>
                <key>sourceSize</key>
                <string>{230,310}</string>
            </dict>
            <key>jinqian_fuben1.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,846},{131,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{131,158}}</string>
                <key>sourceSize</key>
                <string>{135,166}</string>
            </dict>
            <key>qianhuan_fuben.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{230,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,310}}</string>
                <key>sourceSize</key>
                <string>{230,310}</string>
            </dict>
            <key>qianhuan_fuben1.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,401},{131,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{131,158}}</string>
                <key>sourceSize</key>
                <string>{135,166}</string>
            </dict>
            <key>qianneng_fuben.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{230,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,310}}</string>
                <key>sourceSize</key>
                <string>{230,310}</string>
            </dict>
            <key>qianneng_fuben1.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,268},{131,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{131,158}}</string>
                <key>sourceSize</key>
                <string>{135,166}</string>
            </dict>
            <key>xiangqian_fuben.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{230,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,310}}</string>
                <key>sourceSize</key>
                <string>{230,310}</string>
            </dict>
            <key>xiangqian_fuben1.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,135},{131,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{131,158}}</string>
                <key>sourceSize</key>
                <string>{135,166}</string>
            </dict>
            <key>xilian_fuben.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,310}}</string>
                <key>sourceSize</key>
                <string>{230,310}</string>
            </dict>
            <key>xilian_fuben1.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,2},{131,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{131,158}}</string>
                <key>sourceSize</key>
                <string>{135,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fuben1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae75a55f581a5bcc2a78a40b81696070:664b33c0b6b3dfcbf42a9593d40091d8:c9b9a7843a66f306aa778887118578a9$</string>
            <key>textureFileName</key>
            <string>fuben1.png</string>
        </dict>
    </dict>
</plist>
