<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chongwu_zhandouli.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,86},{161,45}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{161,45}}</string>
                <key>sourceSize</key>
                <string>{173,45}</string>
            </dict>
            <key>jia_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,108},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{18,18}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>jian_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{16,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{16,8}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>jueseButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,66},{50,18}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{50,18}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>jueseButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,44},{50,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{50,20}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>liantiButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,56},{50,18}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{50,18}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>liantiButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{52,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{52,20}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>renwu_zhandouli.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{163,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{163,45}}</string>
                <key>sourceSize</key>
                <string>{173,45}</string>
            </dict>
            <key>rongyuButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{98,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{98,18}}</string>
                <key>sourceSize</key>
                <string>{100,26}</string>
            </dict>
            <key>rongyuButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{100,20}}</string>
                <key>sourceSize</key>
                <string>{100,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_info1.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03d33969457b957b478c2ba69b7724fd:71abbde450d80172e60f5e01ac726323:17ef304481104eb7b67cdffefc929d73$</string>
            <key>textureFileName</key>
            <string>hero_info1.png</string>
        </dict>
    </dict>
</plist>
