<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>moneyIcon_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{32,24}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>moneyIcon_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{32,22}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{32,22}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>quqian_roundButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,66},{54,58}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,16},{54,58}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>quqian_roundButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{60,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{60,62}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>tbaoIcon_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,120},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{26,28}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>zhengli_roundButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{54,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{54,62}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zhengli_roundButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,12},{60,62}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_bag.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da44853cbe33b2fe519fdc7fae924cbb:2d0b66bf45abd643cc0ee9f3550d2d57:40382ed9aafc2a9a624d23810ea47001$</string>
            <key>textureFileName</key>
            <string>hero_bag.png</string>
        </dict>
    </dict>
</plist>
