<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beibaoButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{50,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{50,18}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>beibaoButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{52,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{52,20}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>hecheng01Button_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{50,18}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{50,18}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>hecheng01Button_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{52,20}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_bag1.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be4d63c99f258f3e4935d7d147450436:3c61f88fd46168b2ffa4672f4dbaa64b:6ecbcc7153c0dc7ccd83f08b1d68550d$</string>
            <key>textureFileName</key>
            <string>hero_bag1.png</string>
        </dict>
    </dict>
</plist>
