<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>husong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,49},{41,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{41,46}}</string>
                <key>sourceSize</key>
                <string>{51,58}</string>
            </dict>
            <key>husong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,49},{45,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{45,50}}</string>
                <key>sourceSize</key>
                <string>{51,58}</string>
            </dict>
            <key>husong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{45,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{45,50}}</string>
                <key>sourceSize</key>
                <string>{51,58}</string>
            </dict>
            <key>husong_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{45,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{45,50}}</string>
                <key>sourceSize</key>
                <string>{51,58}</string>
            </dict>
            <key>husong_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{49,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{49,54}}</string>
                <key>sourceSize</key>
                <string>{51,58}</string>
            </dict>
            <key>husong_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{49,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{49,54}}</string>
                <key>sourceSize</key>
                <string>{51,58}</string>
            </dict>
            <key>yabiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,49},{41,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{41,46}}</string>
                <key>sourceSize</key>
                <string>{51,58}</string>
            </dict>
            <key>yabiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2},{45,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{45,50}}</string>
                <key>sourceSize</key>
                <string>{51,58}</string>
            </dict>
            <key>yabiao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,2},{45,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{45,50}}</string>
                <key>sourceSize</key>
                <string>{51,58}</string>
            </dict>
            <key>yabiao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{49,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{49,54}}</string>
                <key>sourceSize</key>
                <string>{51,58}</string>
            </dict>
            <key>yabiao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{49,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{49,54}}</string>
                <key>sourceSize</key>
                <string>{51,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>husong.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a593d1acbbde647c0fc4238b65300b64:ba38d4a16e05f3e313ba318a364c3789:64e92f1168b70343d0757b7e1941a0db$</string>
            <key>textureFileName</key>
            <string>husong.png</string>
        </dict>
    </dict>
</plist>
