<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>VIP.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,84},{36,21}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{36,21}}</string>
                <key>sourceSize</key>
                <string>{40,25}</string>
            </dict>
            <key>VIP0.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,122},{15,21}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{15,21}}</string>
                <key>sourceSize</key>
                <string>{17,25}</string>
            </dict>
            <key>bangzhu_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,263},{52,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,15},{52,62}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>bangzhu_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,256},{60,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,15},{60,62}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>beibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{76,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{76,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>beibao_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{52,64}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>beibao_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,205},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,10},{60,64}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>chenghao_tu.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,130},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>danzao_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,329},{60,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{60,62}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>duanzao.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,104},{74,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{74,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>duanzao_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,349},{52,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,14},{52,60}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>fightpowernum.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{80,21}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{80,21}}</string>
                <key>sourceSize</key>
                <string>{84,25}</string>
            </dict>
            <key>headFrame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{245,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,100}}</string>
                <key>sourceSize</key>
                <string>{245,100}</string>
            </dict>
            <key>heroheadcell.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,182},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>interactButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,139},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{64,64}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>interactButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,104},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>jiaohao_tu.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,38},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>mallIcon_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,261},{54,58}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{54,58}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>mallIcon_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,284},{60,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{60,62}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>mapBkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,38},{140,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,59}}</string>
                <key>sourceSize</key>
                <string>{140,59}</string>
            </dict>
            <key>numback.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{235,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,34}}</string>
                <key>sourceSize</key>
                <string>{235,34}</string>
            </dict>
            <key>petheadcell.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,99},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>renwuIcon_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,201},{54,58}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{54,58}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>renwuIcon_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,267},{60,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,15},{60,62}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>shangcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{74,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{74,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>socialIcon_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,318},{52,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,17},{52,60}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>socialIcon_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,222},{60,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,15},{60,62}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>systemIcon_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,317},{52,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,17},{52,60}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>systemIcon_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,201},{60,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,15},{60,62}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>teamIcon_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,321},{52,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,19},{52,58}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>teamIcon_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,201},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{60,62}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainScreen960.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72977f69222dc947b6e3cc66e4fa55d9:d80d39ed7a59fd3c826cea296d861741:d7563889ad672e876a3306b3c9bc7146$</string>
            <key>textureFileName</key>
            <string>mainScreen960.png</string>
        </dict>
    </dict>
</plist>
