<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chengseButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,190},{50,18}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{50,18}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>chengseButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,128},{52,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{52,20}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>chongwuhuanhua_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{97,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{97,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
            <key>chongwushuxing1_artFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{97,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{97,18}}</string>
                <key>sourceSize</key>
                <string>{103,24}</string>
            </dict>
            <key>fubenchouqu_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{97,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{97,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
            <key>huoqutujing_artFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,2},{181,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{181,20}}</string>
                <key>sourceSize</key>
                <string>{181,24}</string>
            </dict>
            <key>lanseButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,185},{50,18}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{50,18}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>lanseButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,106},{52,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{52,20}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>lvseButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,170},{50,18}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{50,18}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>lvseButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,185},{52,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{52,20}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>shangchengchouqu_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{97,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{97,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
            <key>ziseButton_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,150},{50,18}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{50,18}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>ziseButton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{52,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{52,20}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pet_tujian.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7d1598f67b553654ed9b629f15e43a8:1cac111e206263b4c8a5da5d923e7fcb:caacbf9724a1bc73547784761909e17e$</string>
            <key>textureFileName</key>
            <string>pet_tujian.png</string>
        </dict>
    </dict>
</plist>
