<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chongkai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,100},{50,42}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{50,42}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>chongkai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,469},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{40,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>chongkai3.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,7},{50,46}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{50,46}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>chongkai4.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,100},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{48,46}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>chongwutaozhuang1_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,148},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>chongwutaozhuang1_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,144},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>duanzao_wupingkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>jingpo_Font.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,228},{36,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{36,38}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>jinhua_xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,3}}</string>
                <key>sourceSize</key>
                <string>{156,3}</string>
            </dict>
            <key>moji2_diwen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{385,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,45}}</string>
                <key>sourceSize</key>
                <string>{385,45}</string>
            </dict>
            <key>petFrame2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,7},{70,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>pet_wugong.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,55},{21,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{21,17}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>quanghua_baizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,7},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>shengji_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,82},{113,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,70}}</string>
                <key>sourceSize</key>
                <string>{113,70}</string>
            </dict>
            <key>suoxucailiao_artFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,80},{101,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{101,18}}</string>
                <key>sourceSize</key>
                <string>{101,24}</string>
            </dict>
            <key>xingjieshi_Font.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,194},{36,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{36,38}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>zhuangbei01_Font.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,190},{36,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{36,38}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pet_kaijia.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4ebb6bcc03a067fd28ac90c224cc372:8ccc55ef59774e54fdbc52b366550a72:14729aa268128fdbf16eb4bbc6b3fcc8$</string>
            <key>textureFileName</key>
            <string>pet_kaijia.png</string>
        </dict>
    </dict>
</plist>
