<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lantongka_Font.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{123,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{123,26}}</string>
                <key>sourceSize</key>
                <string>{123,28}</string>
            </dict>
            <key>yidongka_Font.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{123,26}}</string>
                <key>sourceSize</key>
                <string>{123,28}</string>
            </dict>
            <key>yinghangka_Font.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{74,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{74,26}}</string>
                <key>sourceSize</key>
                <string>{74,28}</string>
            </dict>
            <key>zhifubao_Font.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{74,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{74,26}}</string>
                <key>sourceSize</key>
                <string>{74,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shangcheng.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ef349b040300cccf8c9efe7c5c2987f:6df2b929323be026693e546d42e93797:ecd8b8b1fc8f9577e22967c734b6821f$</string>
            <key>textureFileName</key>
            <string>shangcheng.png</string>
        </dict>
    </dict>
</plist>
