<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>confirm_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,2},{62,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{62,26}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>tishi_titleFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{66,26}}</string>
                <key>sourceSize</key>
                <string>{72,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tishiScreen.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:195f10a41c9c4f2f30e7d17417303fa5:6a3a672fcf467734f073a3360524e701:bd1719dbdb531e756b437c0305e4e753$</string>
            <key>textureFileName</key>
            <string>tishiScreen.png</string>
        </dict>
    </dict>
</plist>
