<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>find_buttonFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{97,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{97,26}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
            <key>find_titleFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,292},{136,27}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{136,27}}</string>
                <key>sourceSize</key>
                <string>{144,37}</string>
            </dict>
            <key>fontBkg_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,30},{481,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{481,35}}</string>
                <key>sourceSize</key>
                <string>{481,35}</string>
            </dict>
            <key>footerBkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{589,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{589,42}}</string>
                <key>sourceSize</key>
                <string>{589,42}</string>
            </dict>
            <key>input260Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,30},{260,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,40}}</string>
                <key>sourceSize</key>
                <string>{260,40}</string>
            </dict>
            <key>phonecode_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,430},{133,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{133,27}}</string>
                <key>sourceSize</key>
                <string>{159,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhanghao_zhaohui.png</string>
            <key>size</key>
            <string>{128,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7237158eac3f4eaa76b1cce21848b6fb:f03e410ff81b2ff83ef52cd3e64c15d9:d8ac069a0c55a2e51a61567cc5c64063$</string>
            <key>textureFileName</key>
            <string>zhanghao_zhaohui.png</string>
        </dict>
    </dict>
</plist>
